*:focus { 
	outline: none; 
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	border: 0 !important;
}

body {
	color: inherit !important;
	width: 1200px;
	background-color: transparent !important;
	margin: 0 auto;
}

#pageHeader {
	margin-top: 1em;
	background-color: transparent;
	padding: .5em 0;	
}

#pageHeader {
	-webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .5);
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .5);	
}

fieldset, legend {
	-webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
}

#pageHeader h2 {
	padding: 0 .5em;	
}

#padder {
	background-color: transparent;
}

button,
input,
select,
#searchResultsList:hover *,
#selectedVesselsDetails:hover *,
#detailsContainer:hover * {
	-webkit-touch-callout: auto !important;
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

button.ui-multiselect,
.ui-multiselect-checkboxes li {
	cursor: pointer;	
}

#selectedVesselsDetails .attributeHeading * {
	-webkit-touch-callout: none !important;;
	-webkit-user-select: none !important;;
	-khtml-user-select: none !important;;
	-moz-user-select: none !important;;
	-ms-user-select: none !important;;
	user-select: none !important;;
}

.blockUI h1, 
.blockUI h2, 
.blockUI h3 {
	margin-top: .5em !important;
	margin-bottom: .5em !important;
}

fieldset {
	margin-bottom: .5em;
}

fieldset#results {
	margin-bottom: 0;
}

legend {
	font-weight: bold !important;
	padding: 0 .5em !important;
}

.ltr legend.applyHeightToggler {
	padding-left: 0 !important;
}

.rtl legend.applyHeightToggler {
	padding-right: 0 !important;
}

label {
	font-weight: bold;
}

fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input[type='text'], input[type='password'] {
	border-color: inherit;
	border-width: 1px;
	-webkit-box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, .1);
	box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, .1);
}

input[type="text"].fieldAutocompletes {
	background-image: url('http://www.fao.org/figis/vrmf/base/media/icons/lightBulb.png');
	background-repeat: no-repeat;
}

.ltr input[type="text"].fieldAutocompletes {
	background-position: right;
}

.rtl input[type="text"].fieldAutocompletes {
	background-position: left;
}

ul.undecorated {
	margin: 0;
	padding: 0;		
	list-style: none;
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;		
}

.ltr ul.undecorated > li {
	margin-left: 0; 
	padding-left: 0;
}

.rtl ul.undecorated > li {
	margin-right: 0; 
	padding-right: 0;
} 

ul.inputs > li {
	height: 28px;
}

ul.inputs > li > * {
	vertical-align: middle;
}

ul.inputs li.withCheckboxes > * {
	vertical-align: baseline !important;
}

ul.inputs li.separator {
	width: 100%;
	height: 1px;
	border: 1px solid;
	margin-top: 3px;
}

ul.buttonList {
	padding-top: .2em;
	min-height: 32px; 
}

ul.buttonList li {
	width: 100%; 
}

.ltr ul.buttonList li {
	text-align: right;
}

.rtl ul.buttonList li {
	text-align: left;
}

strong.username {
	font-family: monospace;
	cursor: pointer;
	padding: 0 .5em;
}

.actionIcon {
    cursor: pointer;
	padding: .2em;
}

.ltr .actionIcon {
	float: left;
	margin-right: .2em;
}

.rtl .actionIcon {
    float: right;
    margin-left: .2em;
}

.expander, .collapser {
	cursor: pointer;
}

.collapser,
.expanded .expander {
	display: none !important;
}

.expander,
.expanded .collapser {
	display: inline !important;
}

#formContainer li.labelsOnly {
	line-height: 18px;	
	height: 18px;
}

img.flag {
	border: 0 !important;
	height: auto !important;
	width: auto !important;
}

.borderLess {
	border: 0 !important;
}

.removeBackground {
	background-image: none !important;
}

#footer {
	width: 1200px;
	position: fixed;
	bottom: 0;
		
	white-space: nowrap;
	overflow: hidden;
		
	font-size: x-small;
		
	height: 18px;
		
	font-weight: bold;
		
	opacity: .8;
	filter:Alpha(Opacity=80)	
}

#footer:hover {
	opacity: 1;
	filter:Alpha(Opacity=100);
}

#footerContent {
	border-top: 1px dotted !important;	
	border-left: 1px dotted !important;
	border-right: 1px dotted !important;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	
	margin: 0 auto;	
	text-align: center;
}

.even, .odd {
	border: 0 !important;
}

.smallFont {
	font-size: smaller !important;
}

.fixedFont {
	font-family: sans-serif;
	font-size: 9px;
	line-height: 14px;
}

.wait img {
	display: none;
}

.imageLink {
	text-decoration: none;
	opacity: .7;
	filter:Alpha(Opacity=70)
}

.imageLink:hover {
	opacity: 1;
	filter:Alpha(Opacity=100)
}

.errorMessage {
	color: red;
}

.ltr .autocomplete_mapped_data {
	padding-left: 1em;
}

.rtl .autocomplete_mapped_data {
    padding-right: 1em;
}

.autocompletionContainer {
	white-space: pre;
}

.ltr .autocompletionContainer {
	padding-right: 1.5em;
}

.rtl .autocompletionContainer {
	padding-left: 1.5em;
}

.ltr .autocompletionContainer li {
	padding-left: 1.5em;
	clear: right;
}

.rtl .autocompletionContainer li {
	padding-right: 1.5em;
	clear: left;
}

.autocompleteMeta {
	font-size: x-small;
}

.ltr .autocompleteMeta {
    padding-left: .5em;
}

.rtl .autocompleteMeta {
    padding-right: .5em;
}

button.ui-multiselect {
	height: 24px !important;
}

.removeUI {
	color: black !important;
}

.resultsContainer .ui-state-default,
.resultsContainer .ui-state-active,
.resultsContainer .ui-state-disabled {
	border: 0 !important;
}