.ltr.ie .scrollable {
	padding-right: 0 !important;
}

.rtl.ie .scrollable {
	padding-left: 0 !important;
}


.ie legend.toggleable {
	height: 20px;
}

.ie.v7 legend,
.ie.v8 legend {
	margin-bottom: .3em !important;
}

.ie.v7 input[type='checkbox'] {
	position: static;
}

.ie.v7 h1, 
.ie.v7 h2, 
.ie.v7 h3 {
	font-size: large;
}

.ie.v7 .blockUI h1,
.ie.v7 .blockUI h2,
.ie.v7 .blockUI h3 {
	font-size: small !important;
}