.ie .numSources.slider {
	width: 120px; 
	margin-top: 5px;
}

.ie ul.inputs > li {
	line-height: normal !important;
}

.ie #formContainer input[type="text"] {
	width: 55%;
}

.ie.v7 .ui-multiselect-menu {
	width: 420px;
}

.ie.v7 #footer h3 {
	font-size: 12px !important;
}

.ie.v9 #footer,
.ie.v10 #footer {
	font-weight: normal !important;'
}
