body::before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
	z-index: 100;
}

.ltr #logEnabler {
	right: 16px;
}

#log, #logEnabler, #logControls {
	bottom: 25px !important;
}

#logEnabler.top {
	bottom: 125px !important;
}

legend.toggleable {
	cursor: default !important;
	padding: 0 !important;
}

legend.toggleable:hover {
	text-decoration: none !important;
}

legend.toggleable .ui-icon {
	margin-top: 2px;
}

legend.toggleable .handle {
	cursor: move !important;
}

legend.toggleable {
	cursor: pointer !important;
}

legend.toggleable .status {
	cursor: pointer !important;
}

legend.toggleable .status.collapsed,
legend.toggleable.collapsed .status.expanded {
	display: none;
}

legend.toggleable .status.expanded,
legend.toggleable.collapsed .status.collapsed {
	display: block;
}

.displayOnInitialization {
	display: none;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ltr #dataContainer {
	clear: left;
}

.rtl #dataContainer {
	clear: right;
}

#multipleSourcesReport {
	position: relative; 
	padding: .2em 3em; 
	margin-top: 4px;
	margin-bottom: 7px;
}

#multipleSourcesReport .actions .ui-icon {
	cursor: pointer;
}

#multipleSourcesReport.up .ui-icon-circle-arrow-s {
	display: block;
}

#multipleSourcesReport.up .ui-icon-circle-arrow-n {
	display: none !important;
}

#multipleSourcesReport.down .ui-icon-circle-arrow-s {
	display: none !important;
}

#multipleSourcesReport.down .ui-icon-circle-arrow-n {
	display: block;
}

#multipleSourcesReport h3 {
	 margin-top: 0 !important;
}

#multipleSourcesReport .actions {
	position: absolute; 
	top: 2px;
}

.ltr #multipleSourcesReport .actions {
 	right: 2px;
}

.rtl #multipleSourcesReport .actions {
 	left: 2px;
}

#keywords {
	margin-bottom: 4em;
}

#keywords span {
	padding: .2em;
	max-width: 1196px;
	width: 1196px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#keywords:hover {
	cursor: help;
}

#keywords:hover span {
	max-width: 1196px;
	white-space: normal;
	overflow: auto;
	text-overflow: auto;
}

#theme {
	width: 150px !important;
	max-width: 150px !important;
}

.browserIcon {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

.ltr .browserIcon {
    margin-right: .2em;
}

.rtl .browserIcon {
    margin-left: .2em;
}

.ltr .nicescrollEnabled .scrollable {
	padding-right: 15px !important;
}

.rtl .nicescrollEnabled .scrollable {
	padding-left: 15px !important;
}

.sourceDetail {
	font-size: smaller !important;
	font-variant: small-caps !important;
}

.sourceDetail:hover {
	border-bottom: 1px dotted;
}

.ltr .liveStatsEntry img.flag {
	margin-left: 0 !important;
}

.rtl .liveStatsEntry img.flag {
	margin-right: 0 !important;
}

.liveStatsEntry .ui-button-text {
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ltr .liveStatsEntry .ui-button-text {
	text-align: left;
}

.rtl .liveStatsEntry .ui-button-text {
	text-align: right;
}

legend .statsReports {
	font-size: smaller;
}

legend .thinButtons .ui-button-text {
	padding-left: 4px;
	padding-right: 4px;
}

#liveSources label {
	height: 24px;
	line-height: 24px;
}

.liveSourceIcon img {
	padding: 0 !important;
	margin: 0 !important;
	vertical-align: 2px;

	border: 0 !important;
}

.ltr .liveSourceIcon img {
	margin-left: 3px !important;
}

.rtl .liveSourceIcon img {
	margin-right: 3px !important;
}

.liveSourceIcon { 
	width: 20px;
}

.ltr .liveSourceIcon {
    float: right;
}

.rtl .liveSourceIcon {
    float: left;
}

.sourceIcon.fill {
	border: 0 !important;
	height: 15px !important;
	min-height: 15px !important;
	max-height: 15px !important;
	width: initial !important;
	max-width: initial !important;
}

.ltr .liveSourceLabel {
	float: left;
}

.rtl .liveSourceLabel {
	float: right;
}

.browserDescription {
	font-weight: bold;
	font-style: italic;
}

.browserVersionCurrent,
.browserVersionRequired {
	font-family: monospace;
	font-weight: bold;
}

#creditsSourcesList img.sourceLogo {
	border: 0 !important;
	padding-bottom: 1em !important;
	cursor: pointer;
	opacity: .7;
}

img.sourceLogo:hover {
	opacity: 1 !important;
}

#sourceLogo img {
	max-height: 34px;
	vertical-align: middle;
	margin-left: .2em;
	margin-right: .2em;
}

#applicationDisclaimer p {
	text-align: justify;
}

ul.inputs ul.multipleCodes li {
	line-height: normal !important;
}

ul.inputs ul.multipleCodes li a {
    vertical-align: top;
}

.ui-multiselect-menu.noWrap label {
	white-space: nowrap !important;
}

.ui-multiselect-menu.sourceMultiselect {
	min-width: 512px;
}

.ui-multiselect .ui-button-text {
	padding: 0 !important;
	font-size: 100%;
}

#dumpDataContainer p {
	margin: 0 !important;
	padding: 1em !important;
}

button.dumpCountries {
	width: 164px !important;
}

iframe.invisible {
	width: 0;
	height: 0;
	display: none;
}

.exportVesselDataLink {
	width: 80px;
}

#currentUser { 
	width: 112px;
}

#processTracker {
	height: 60px;
}

#apiDoc .hint:hover {
	text-decoration: underline;
	font-weight: bold;
}

#thumbs {
	max-width: 870px !important;
}

.ltr .ui-button-text img.flag {
	margin-left: .5em;
}

.rtl .ui-button-text img.flag {
	margin-right: .5em;
}

.buttonSet .ui-button-text img.flag {
	margin-right: 0 !important;
	margin-left: 0 !important;
	vertical-align: text-bottom !important;
}

*:focus { 
	outline: none; 
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	border: 0 !important;
}

body {
	color: inherit !important;
	min-width: 1200px;
	background-color: transparent !important;

	margin: 0;
	padding: 0;
}

#mainContainer {
	width: 1200px !important;
	max-width: 1200px !important;

	margin: 0 auto;
}

#pageHeader {
	min-width: 900px !important;
	max-width: 1200px !important;
	
	margin: 0 auto;
}

#FAOFisheryHeader {
	min-width: 900px !important;
	max-width: 1200px !important;
	
	height: 85px;
	max-height: 85px;

	padding-top: 1em;
	margin: 0 auto;
	
	background-color: white !important;

	clear: both;
	
	font-family: Arial, Helvetica, Sans-Serif !important;
	
	border-bottom: 1px dotted #369;
}

.ltr #FAOFisheryHeader > .left {
	max-width: 50%;
	margin-left: 2em;
}

.rtl #FAOFisheryHeader > .left {
	max-width: 50%;
	margin-right: 2em;
}

.ltr #FAOFisheryHeader > .right {
	max-width: 50%;
	margin-right: 2em;
}

.rtl #FAOFisheryHeader > .right {
	max-width: 50%;
	margin-left: 2em;
}

#FAOFisheryHeader .current.language,
#FAOFisheryHeader .currentLink {
	color: #FF9900 !important;
}

#FAOFisheryHeader a {
	border-bottom: 0 !important;
	text-decoration: none !important;
}

#FAOFisheryHeaderNavigation {
	height: 13px;
	margin-bottom: 5px;
	
	font-size: 10px !important;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#FAOFisheryHeaderNavigation a {
	color: #565656 !important;
}

#FAOFisheryHeaderNavigation a:hover {
	color: #FF9900 !important;
	border-bottom: 0 !important;
	text-decoration: none !important;
}

#FAOState {
	font-size: 12px;
}

#FAOState img {
	width: 32px !important;
	height: 32px !important;
}

.ltr #FAOState img {
	margin-left: 0 !important;
}

.rtl #FAOState img {
	margin-right: 0 !important;
}

#FAOState strong {
	color: #0B325D;	
	font-weight: bold;
}

.ltr #FAOState strong {
	clear: right;
}

.rtl #FAOState strong {
	clear: left;
}

#FAOState cite {
	display: block !important;
	color: #565656;
	font-style: italic !important;
}

#FAOState > a {
	height: 34px !important;
	min-height: 34px !important;
}

.ltr #FAOState .text {
	margin-left: 1em !important;
}

.rtl #FAOState .text {
	margin-right: 1em !important;
}

#FAOState .languageChooser {
	clear: both;
	font-size: 10px !important;
	padding-top: 16px !important;
}

#FAOState .languageChooser a {
	color: black !important;
}

#FAOState .languageChooser a:hover {
	color: #FF9900 !important;
}

#FAOFishery {
	height: 77px;
	background-image: url('http://www.fao.org/figis/website/assets/images/templates/fi/fi_dept.gif');
	background-repeat: no-repeat;
	background-position: right 5px;
}

#FAOFishery strong {
	display: block;
	
	line-height: 30px;
	text-align: right;
	
	color: #0B325D !important;
	text-shadow: 2px 2px 2px #CCCCCC;
	
	font-size: 30px !important;
	font-weight: normal;
}

#FAOFishery a strong {
	padding-right: 1.7em !important;
}

#FAOFishery a strong.firstLine {
	padding-right: 1em !important;
}

#commonHeader {
	width: 100%;
	
	position: fixed;
	top: 0;

	z-index: 13;
}

#headerSeparator {
	height: .5em;
}

#pageHeader {
	padding: 0 .5em;
	font-size: 16px;
	height: 50px;
	line-height: 50px;

	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
}

#pageHeader img.faoLogo {
	width: 32px !important;
}

#FVFLabels {
	margin-top: 0;
	padding-top: 0;
}

#FVFLabels #indexLink {
	font-variant: small-caps;
}

.FVFLabel.plusSource {
	margin-top: .4em;
	line-height: initial !important;
}

.FVFSpecificSourceLabelContainer {
	line-height: initial !important;
}

.actionsTop > *, .actionsBottom {
	line-height: 38px;
}

.actionsTop {
	min-height: 38px;	
}

.actionsTop div.actionsHeader {
	line-height: 26px !important;
	height: 20px !important;
}

.actionsBottom {
	height: 38px;
}

.actionsTop {
	margin-bottom: 8px;
	padding-left: .3em;
	padding-right: .3em;
	white-space: nowrap;
	
	text-align: center;
}

.actionsTop .ui-button-text-only .ui-button-text {
	padding: .4em .5em;
}

.actionsBottom {
	margin-top: 5px;
	margin-bottom: 3em;
	padding-left: .2em;
	padding-right: .3em;
}

fieldset, 
legend,
#navigation,
div.ui-state-highlight,
.bottomShadow {
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
}

#padder {
	height: 164px;
	background-color: transparent;
}

button,
input,
select,
textarea,
#searchResultsList:hover *,
.selectable,
.selectable *,
.selectableOnHover:hover,
.selectableOnHover:hover *,
.attributeContainer:hover * {
	-webkit-touch-callout: auto !important;
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

.selectableOnHover {
	border: 1px solid;
	border-color: transparent;
}

.selectableOnHover:hover {
	border: 1px dashed;
	border-color: inherit;
}

button.ui-multiselect,
.ui-multiselect-checkboxes li {
	cursor: pointer;
}

.ui-multiselect-menu .ui-state-active {
	font-weight: normal !important;
}

#selectedVesselsDetails .attributeHeading * {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.blockUI h1, 
.blockUI h2,
.blockUI .ui-dialog-title h3 {
	margin-top: 0em !important;
	margin-bottom: 0em !important;
}

.blockUI h3 {
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}

fieldset {
	margin-bottom: .5em;
}

fieldset#results {
	margin-bottom: 0;
}

legend {
	font-weight: bold !important;
	padding: 0 .5em !important;
}

.ltr legend.applyHeightToggler {
	padding-left: 0 !important;
}

.rtl legend.applyHeightToggler {
	padding-right: 0 !important;
}

label {
	font-weight: bold;
}

fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input[type="text"], input[type="password"] {
	border-color: inherit;
	border-width: 1px;
	-webkit-box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, .1);
	box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, .1);
}

input[type="text"] + .autocompletionMarker {
	display: none;
}

input[type="text"].fieldAutocompletes + .autocompletionMarker,
.datePickerMarker {
	display: inline-block !important;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	/*background-position: left;*/
}

.ltr input[type="text"].fieldAutocompletes + .autocompletionMarker,
.ltr .datePickerMarker {
	margin-left: 2px;
}

.rtl input[type="text"].fieldAutocompletes + .autocompletionMarker,
.rtl .datePickerMarker {
	margin-right: 2px;
}

.ui-helper-hidden-accessible {
	display: none !important;
}

input[type="text"].fieldAutocompletes.ui-autocomplete-loading + span + .autocompletionMarker,
input[type="text"].fieldAutocompletes.ui-autocomplete-loading + .autocompletionMarker {
	background-image: url('../../cdn/media/images/decorations/spinner_light_bg.gif'); 
}

.ltr input[type="text"].fieldAutocompletes.ui-autocomplete-loading + span + .autocompletionMarker,
.ltr input[type="text"].fieldAutocompletes.ui-autocomplete-loading + .autocompletionMarker {
	background-position: left !important;
}

.rtl input[type="text"].fieldAutocompletes.ui-autocomplete-loading + span + .autocompletionMarker,
.rtl input[type="text"].fieldAutocompletes.ui-autocomplete-loading + .autocompletionMarker {
	background-position: right !important;
}

ul.undecorated {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;
}

ul.undecorated > li {
	margin-bottom: .3em;
}

.ltr ul.undecorated > li {
	margin-left: 0; 
	padding-left: 0;
}

.rtl ul.undecorated > li {
	margin-right: 0; 
	padding-right: 0;
}

ul.inputs > li {
	min-height: 24px;
	line-height: 24px;
}

ul.multipleCodes {
	clear: both;
}

ul.inputs li.separator {
	clear: both;
	width: 99%;
	height: 1px;
	min-height: 1px;
	margin-top: .1em;
	margin-bottom: .4em;
}

ul.buttonList {
	padding-top: .2em;
	min-height: 32px; 
}

ul.buttonList li {
	width: 100%; 
	text-align: right
}

.actionIcon {
	cursor: pointer;
	padding: .2em;
	margin-right: .2em;
}

.ltr .actionIcon {
    float: left;
}

.rtl .actionIcon {
    float: right;
}

.expander, 
.collapser,
.pinner,
.unpinner {
	cursor: pointer;
}

.collapser,
.expanded .expander {
	display: none !important;
}

.expander,
.expanded .collapser {
	display: inline !important;
}

.unpinner,
.pinned .pinner {
	display: none !important;
}

.pinner,
.pinned .unpinner {
	display: inline !important;
}

#formContainer .ui-sortable {
	cursor: default !important;
}

#formContainer li.labelsOnly {
	line-height: 16px;
	height: 16px;
	min-height: 16px;
	margin-top: 0;
	margin-bottom: 0;
}

img.flag {
	border: 0 !important;
}

#footer {
	width: 100%;
	min-width: 1200px;
	height: 24px;
	min-height: 24px;
	overflow: hidden;
	position: fixed;
	bottom: 0;

	border-top: 1px dotted !important;

	border-color: black !important;

	white-space: nowrap;

	font-size: x-small;
	font-weight: bold;

	background-color: #336699 !important;
	color: white !important; 

	opacity: .8;
	filter:Alpha(Opacity=80);
	
	margin: 0 auto !important;
	
	z-index: 12;
}

#footer:hover {
	opacity: 1;
	filter:Alpha(Opacity=100);
}

#footer a {
	color: white !important;
}

#footer a:hover {
	color: #FF9900 !important;	
}

#footer .techData {
	margin-bottom: 4px !important;
	padding: 0 .5em;
}

#footer .techData code {
	font-size: larger;
}

#footer img {
	min-width: 16px;
	vertical-align: text-top;
}

#footerContent {
	padding: 0 .4em;

	text-align: center;
	
	margin: 0 auto !important;
}

#footerContent select {
	font-size: 90%;
}

#footerContent div div {
	line-height: 24px;
}

#buildVersion {
	border-bottom: 1px dotted;
}

#buildVersion:hover {
	border-bottom: 1px solid !important;
}

#shareContainer	{
	width: 178px;
	max-width: 178px;
	position: fixed;
	top: 0;
	
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	
	border-top: 0 !important;
	opacity: .5;
	filter:Alpha(Opacity=50);
	
	z-index: 666;
}

.ltr #shareContainer {
    left: 50%;
	margin-left: -89px;
}

.rtl #shareContainer {
    right: 50%;
	margin-right: -89px;
}

#shareContainer:hover {
	opacity: 1;
	filter:Alpha(Opacity=100);
}

.shareHandle {
	cursor: move !important;
	margin: 2px;
	line-height: 1.5em;
}

.shareHandle img {
	vertical-align: text-top !important;
	min-width: 16px;
}

#share .controls {
	cursor: pointer !important;
	z-index: 1000;
}

#share {
	margin: 0 2px;
	margin-top: 2px;
	padding-top: 2px;
}

#share .social {
	margin-top: 1px;
}

.ltr #share .social {
	margin-left: 2px;
	float: left;
}

.rtl #share .social {
	margin-right: 2px;
	float: right;
}

.ltr #share .social.email {
	clear: left;
}

.rtl #share .social.email {
	clear: right;
}

#buildInfo {
	line-height: 24px;
}

.even, .odd {
	border: 0 !important;
}

.smallFont {
	font-size: smaller !important;
}

.wait img {
	display: none;
}

.imageLink {
	text-decoration: none;
	opacity: .7;
	filter:Alpha(Opacity=70);
}

.imageLink:hover {
	opacity: 1;
	filter:Alpha(Opacity=100);
}

.errorMessage {
	color: red;
}

.noClose .ui-dialog-titlebar-close {
	display: none;
}

.ltr .autocomplete_mapped_data {
	padding-left: 1em;
}

.rtl .autocomplete_mapped_data {
	padding-right: 1em;
}

.autocompletionContainer {
	white-space: pre;
}

.ltr .autocompletionContainer {
	padding-right: 1.5em;
}

.rtl .autocompletionContainer {
	padding-left: 1.5em;
}

.ltr .autocompletionContainer dl dt {
	padding-left: 1.5em;
	clear: right;
}

.rtl .autocompletionContainer dl dt {
	padding-right: 1.5em;
	clear: left;
}

.autocompleteMeta {
	font-size: x-small;
}

.ltr .autocompleteMeta {
    padding-left: .5em;
}

.rtl .autocompleteMeta {
    padding-right: .5em;
}

button.ui-multiselect {
	height: 20px !important;
	overflow: hidden !important;
}

.removeUI {
	color: black !important;
}

.thinButtons {
	margin-bottom: 1px;
}

.xSmallButtons,
.smallButtons .ui-button,
.thinButtons .ui-button {
	padding: 0 !important;
}

.resultsContainer .ui-state-default,
.resultsContainer .ui-state-active,
.resultsContainer .ui-state-disabled {
	border: 0 !important;
}

input.ui-button.smallButtons,
.smallButtons .ui-button .ui-button-text,
.smallButtons.ui-button .ui-button-text {
	font-size: smaller !important;
}

input.ui-button.xsmallButtons,
.xSmallButtons .ui-button .ui-button-text,
.xSmallButtons.ui-button .ui-button-text {
	font-size: x-small !important;
}

input.ui-button.thinButtons,
.thinButtons .ui-button .ui-button-text,
.thinButtons.ui-button .ui-button-text {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

input.ui-button.thinButtons {
	height: 1.6em !important;
	line-height: 1.6em !important;
}

.thinButtons button,
.thinButtons input[type='button'],
.thinButtons input[type='submit'],
.thinButtons input[type='reset'],
.thinButtons input[type='file'] {
	font-size: smaller !important;
	height: 24px !important;
	min-width: 48px !important;
	padding: 0 !important;
	padding-left: .5em !important;
	padding-right: .5em !important;
}

.fsContainer a .hint {
	cursor: pointer !important;
}

.fsLinksList {
	height: 370px;
	max-height: 370px;
	overflow: auto;
}

.fsLinksControl {
	height: 24px;
	margin-top: 5px;
}

.fsLinksControlButtons {
	line-height: 21px;
}

.fsID {
	font-weight: bold;
	font-family: monospace;
}

.fsTitle {
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	
	font-style: italic;
}

.fsError .fsTitle {
	background-repeat: no-repeat;
	background-image: url('../../cdn/media/images/icons/default/error.png'); 
}

.ltr .fsError .fsTitle {
    padding-left: 18px;
	background-position: left;
}

.rtl .fsError .fsTitle {
    padding-right: 18px;
	background-position: right;
}


.imageLink .hint,
.scrollButtons .hint,
.asButton .hint { 
	cursor: pointer; 
}