#mainContainer {
	padding: .5em;
	min-height: 512px;
	max-width: 1200px;

	overflow: auto;
}

#shareContainer {
	display: none !important;
}

#errorDetails h1,
#errorDetails h2,
#errorDetails h3 {
	white-space: normal !important;
}

#errorDetails h1 {
	padding: 1em .2em !important;
}

.errorMessage {
	max-height: 10em;
	overflow: auto;
}

.errorImage {
	max-width: 96px;
}

.ltr .errorImage {
	margin-right: .2em;
}

.rtl .errorImage {
	margin-left: .2em;
}