#mainContainer {
	font-size: larger;
}

#mainContainer h2 {
	padding: 1em;
}

#mainContainer .sectionContainer h3 {
	font-weight: bold !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-top: 0 !important;
	border-bottom-color: inherit !important;
	
	cursor: pointer;
}

#mainContainer #sourceSpecificNotice h3 {
	text-transform: uppercase;
	text-decoration: underline;
}

#mainContainer h3.collapsed {
	border-bottom: 0 !important;
	
}

#mainContainer .sectionContainer {
	margin: .5em;
	
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
}

#mainContainer .sectionContainer h3 {
	width: 100%;
}

.sourceLogo {
	padding-bottom: 0 !important;
	border: 1px solid;
}

.section {
	border-top: 0 !important;
	margin-right: .5em !important;
	text-align: justify;
}

.section p {
	margin: .5em 0 !important;
	padding-left: .5em;
}

.section > p {
	margin-top: 0 !important;
	padding-top: 1em !important;
}

#mainContainer #text {
	width: 1184px !important;
	height: 512px;
	max-height: 512px;
	
	margin-bottom: 1em;
	padding: 0 .5em;

	overflow: auto;
}

ul#FAOLinks {
	margin-left: 1.5em;
	padding-top: 1em !important;
	padding-bottom: 1.5em !important;
}

#sourceSpecificNotice {
	padding: 0 .5em;
	margin-top: 1em;
}

#actions {
	text-align: center;
	margin-bottom: 2em;
}

.availableDataSources {
	list-style-type: decimal-leading-zero;
	list-style-position: inside;
	margin-left: 0 !important;
	padding-left: .3em !important;
}

.availableDataSources li {
	padding-left: .5em !important;
	border-width: 1px !important;
}

.availableDataSources li.noBorder {
	border-style: solid !important;
	border-color: transparent !important;
}

ul li {
	line-height: 1.5em;
}

.availableDataSources li .sourceStatsSummary {
	font-size: smaller;
	font-weight: normal !important;
}

.description {
	font-weight: bold !important;
	color: inherit !important;
	border-bottom: 1px dotted !important;
	margin-right: 0 !important;
}

.description:hover {
	border-bottom: 1px solid !important;
}

cite {
	display: inline !important;
	font-style: normal !important;
}

a .description {
	border-bottom: none !important;
}

a:hover .description,
a .description:hover {
	border-bottom: none !important;
}

#text ul {
	margin-bottom: 0 !important;
}