#loginDialog {
	min-height: 84px !important;
}

#loginDialog input[type='text'],
#loginDialog input[type='password'] {
	font-family: monospace !important;
}

#loginDialog .loginMessageContainer {
	clear: both; 
	height: 24px; 
	line-height: 24px;
	padding-top: 5px;
}

.loginResult {
	font-weight: bold;
}

.loginResult.error {
	border: 0 !important;
	color: red !important;
}