#mainContainer {
	padding: .5em;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#multipleChoices h1,
#multipleChoices h2,
#multipleChoices h3 {
	white-space: normal !important;
}

#multipleChoices h1 {
	padding: 1em .2em !important;
}

.choicesContainer {
	max-height: 44em;
	overflow: auto;
	border: 1px dotted;
}

.choicesContainer ul {
	list-style: decimal-leading-zero;
	margin: 0 !important;
	margin-bottom: 2px !important;
	
	font-size: larger;
}

.choicesContainer ul li {
	line-height: 1.5em;
}

a .hint {
	cursor: pointer !important;
}

.vesselName {
	display: inline-block;
	width: 256px;
	overflow: hidden;
	text-overflow: ellipsis;
	
	white-space: nowrap;
	
	font-style: italic;	
}

.vesselSource {
	display: inline-block;
	width: 6em;
	overflow: hidden;
	text-overflow: ellipsis;
	
	white-space: nowrap;
	
	text-align: center;
	
	font-weight: bold;
}