* {
	background: white !important;
	color: black !important;
	border-color: black !important;
	
	text-shadow: none !important;
}

#footer,
#pageHeader,
.languageChooser,
#shareContainer,
.ui-button,
.ui-tooltip,
.toolbar .toolbarControls,
.toolbarBottom,
.scrollButtons,
.toolbox,
.innerShadowTop,
.innerShadowBottom {
	display: none !important
}

#padder {
	height: 105px !important;
}

#keywords span {
	width: 1040px !important;
	max-width: 1040px !important;
	overflow: auto !important;
	white-space: normal !important;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-right,
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-tabs .ui-tabs-nav > li {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ui-widget-content {
	background: transparent !important;
	background-image: none !important;
}
.ui-widget-header,
.ui-tabs-anchor {
	text-shadow: none !important;
}

.ui-tabs-nav > li.ui-state-default,
.ui-tabs-nav > li.ui-state-default a,
.ui-tabs-nav > li.ui-state-default a *,
.ui-tabs-nav > li.ui-state-disabled,
.ui-tabs-nav > li.ui-state-disabled a,
.ui-tabs-nav > li.ui-state-disabled a * {
	background: silver !important;
}

.ui-tabs-nav > li.ui-state-active,
.ui-tabs-nav > li.ui-state-active a,
.ui-tabs-nav > li.ui-state-active a * {
	background: white !important;
}

.ui-tabs-nav > li.ui-state-hover {
	border-bottom: 0 !important;
}

fieldset, 
legend, 
#navigation, 
div.ui-state-highlight, 
.bottomShadow,
.attributeHeading {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

body,
#FAOFisheryHeader,
#mainContainer {
	width: 1050px !important;
	min-width: 1050px !important;
}

#FAOFisheryHeader {
	margin: 0 !important;
}

#FAOFishery a strong, 
#FAOFishery a strong.firstLine {
	text-shadow: none !important;
	padding-right: 0 !important;
}

a.external:hover, a.externalStatic {
	background: none !important;
}
a.external, a.externalStatic {
	border-bottom: 0 !important;
	padding-right: 0 !important;
}

a.default, .removeUI a.textLink {
	color: inherit !important;
	text-decoration: underline !important;
}

.colorizeBySource .description {
	border-bottom: 0 !important;
	background: none !important;
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.toolbar {
	height: .5em !important;
}

.picturesNumberContainer,
.positionsNumberContainer {
	display: none !important;
}

#previousPicture, 
#nextPicture {
	display: none !important;
}

#thumbs {
	overflow: auto;
	overflow: auto;
	white-space: normal;
	height: auto;
	width: 100% !important;
	max-width: 100% !important;
}

#currentPictures,
#currentPictures .vesselDetails,
#picturesContainer {
	height: 100% !important;
	max-height: 100% !important;
}

.pictureDetails.searchImage {
	display: none !important;
}

.scrollable {
	max-height: 100% !important;
	height: 100% !important;
}

.vesselDetails {
	overflow: hidden !important;
}

.attribute, .attributeHeading {
	width: 1015px !important;
	border-right: 0 !important;
}

.attributeHeading, .attributeHeading * {
	background: silver !important;
}

.attributeHeading,
#selectedVesselsDetails legend {
	font-size: large !important;
}

#selectedVesselsDetails legend {
	background: white !important;
}

#selectedVesselsDetails legend .heightToggler {
	display: none !important;
}

.ltr #selectedVesselsDetails legend .caption {
	padding-left: .5em !important;
}

.rtl #selectedVesselsDetails legend .caption {
	padding-right: .5em !important;
}

.data {
	width: 1019px !important;
	border-right: 0 !important;
}

.colorizeBySource .attributeContainer.sourced {
	background: white !important;
}

.attributeContainer {
	width: 999px !important;
	border-left-style: solid !important;
	border-left-width: 1px !important;
	border-left-color: white !important;
	border-top-style: solid !important;
	border-top-width: 1px !important;
	border-top-color: white !important;
}

.attribute.collapsed .data {
	display: block !important;
}

.attribute.notEmpty .attributeHeading label {
	background-image: none !important;
}

.callsigns .data .attributeValue code {
	white-space: nowrap !important;
}

.callsigns .data .attributeValue code img {
	margin-right: .5em !important;
}

.vesselPictureDetailsContainer {
	position: relative !important;
	margin: 0 auto !important;
	margin-bottom: 1em !important;
}

.ltr .vesselPictureDetailsContainer {
	left: 0 !important;
}

.rtl .vesselPictureDetailsContainer {
	right: 0 !important;
}

.vesselPictureDetailsContainer .pictureDetails .controls {
	display: none !important;
}