#mainContainer {
	padding: .5em;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#mainContainer h1 {
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}

#mainContainer h2 {
	white-space: normal !important;
}