.ltr.ie #liveReportingCountries {
	padding-left: 0 !important;
}

.rtl.ie #liveReportingCountries {
	padding-right: 0 !important;
}

.ie #liveSearchForm input[type='text'] {
	font-size: x-large !important;
	width: 85%;
}

.ie #formContainer input[type='text'].fieldAutocompletes {
	width: 47% !important;
}