form {
	position: relative;
}

.leftLabel { width: 160px; display: inline-block; line-height: 16px; }

.statsHeader { width: 195px; display: inline-block; }

#liveStatsForm legend {
	width: 272px;
	max-width: 272px;
}

.ltr #liveStatsForm legend {
	padding-left: 5px !important;
}

.rtl #liveStatsForm legend {
	padding-right: 5px !important;
}

#liveStatsForm legend img {
	vertical-align: baseline !important;
	width: 10px !important;
	min-width: 10px !important;
}

#liveStatsForm legend .panelHeading {
	font-size: smaller;
}

#liveStatsForm legend .statsReports {
	font-size: x-small !important;
}

#liveStatsForm .filter {
	line-height: 17px;
	width: 275px;
}

.ltr #liveStatsForm .filter {	
	padding-left: .2em;
}

.rtl #liveStatsForm .filter {	
	padding-right: .2em;
}

#liveStatsForm .filter input {
	width: 60%;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	font-size: small !important;
}

#liveStatsForm .filter .ui-icon {
	margin-top: 1px;
}

#liveStatsForm .filter .resetFilter,
#liveStatsForm .filter .removeSelection,
#liveStatsForm .filter .resetFilter .ui-icon.hint,
#liveStatsForm .filter .removeSelection .ui-icon.hint {
	cursor: pointer;
}

#liveStatsForm .filter img {
	vertical-align: -1px;
}

#liveStatsForm .filter .filterReport {
	line-height: 17px;

	margin: 1px 1px;
	
	font-size: smaller;
}

.ltr #liveStatsForm .filter .filterReport {
	float: right;
	padding-right: 2px;
}

.rtl #liveStatsForm .filter .filterReport {
	float: left;
	padding-left: 2px;
}

#liveStatsForm .noFilteredStats {
	text-align: justify;
	padding: .2em;
}

#liveStatsForm .liveStatsLabel,
#liveStatsForm .liveStatsVesselsReport {
	height: 14px !important;
	line-height: 14px !important;
}

#liveStatsForm .liveStatsLabel {
	font-size: smaller;
}

.ltr #liveStatsForm .liveStatsLabel {
	padding-left: .2em;
}

.rtl #liveStatsForm .liveStatsLabel {
	padding-right: .2em;
}

#liveStatsForm .liveStatsLabel .liveStatsEntryStatus {
	width: 16px !important;
}

#liveStatsForm .liveStatsLabel .ui-icon-check {
	display: none !important;
}

#liveStatsForm .liveStatsLabel.selected .ui-icon-check {
	display: inherit !important;
}

#liveStatsForm .liveStatsLabel.selected .unchecked {
	display: none !important;
}

#liveStatsForm .liveStatsLabel label {
	cursor: pointer;
	display: inline-block;
	
	width: 150px;
	max-width: 150px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	
	white-space: nowrap;
}

#liveStatsForm .liveStatsLabel img.sourceIcon  {
	vertical-align: -2px;
}

#liveStatsForm .liveStatsLabel img.flag {
	vertical-align: -1px;
}

#liveStatsForm .liveStatsEntryStatus {
	margin-top: -1px !important;
}

#liveStatsForm .numSelected:hover,
#liveStatsForm .numAvailable:hover,
#liveStatsForm .numVessels:hover {
	text-decoration: underline;
}

.liveStats .liveStatsVesselsReport {
	font-size: smaller;
}

.liveStats {
	height: 98px;
	max-height: 98px;
	overflow: auto;
}

.liveStatsEntry.rangeAggregation .liveStatsLabel {
	font-style: italic;
}

.liveStatsEntry.countryIndependent .liveStatsLabel label {
	width: 126px !important;
	max-width: 126px !important;
}

.ltr .liveStatsEntry.countryIndependent .liveStatsLabel label {
	padding-left: 24px;
}

.rtl .liveStatsEntry.countryIndependent .liveStatsLabel label {
	padding-right: 24px;
}

#liveStatsSources img {
	height: 10px !important;
	min-height: 10px !important;
}

.singleSource .liveStats {
	height: 144px;
	max-height: 144px;
}

#liveSources label.ui-button,
#liveReportingCountries label.ui-button {
	margin-bottom: 1px;
}

.ltr #liveReportingCountries label.ui-button {
	margin-left: 5px;
}

.rtl #liveReportingCountries label.ui-button {
	margin-right: 5px;
}

#liveSearchForm input[type='text'] {
	font-size: x-large !important;
	width: 90%;
}

.geoChartControls {
	padding: .2em .5em;
	line-height: 24px;
}

.codesHolder {
	max-width: 200px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;

	white-space: nowrap;
}

.codesHolder .codeName {
	cursor: pointer;
}

.ltr .codesHolder .codeCountry img.flag {
	margin-right: 0 !important;
}

.rtl .codesHolder .codeCountry img.flag {
	margin-left: 0 !important;
}

.codesHolder .codeSource {
	font-weight: bold;
}

.codesHolder .codeOriginal {
	font-family: monospace;
}

.codesHolder .codeSource:hover,
.codesHolder .codeOriginal:hover,
.codesHolder .codeName:hover {
	text-decoration: underline;
}

#searchResults {
	margin-bottom: 3em;
}

#formContainer {
	height: 524px;
	max-height: 524px;
	border-bottom: 1px dotted;
	overflow: auto;
	
	/*
	-webkit-box-shadow: inset 0px 8px 18px -4px rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0px 8px 18px -4px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 8px 18px -4px rgba(0, 0, 0, .4);
	*/
}

#formContainer input[type='text'] {
	width: 57%;
}

#formContainer input[type='text'].fieldAutocompletes {
	width: 50%;
}

#formContainer input[type='text'].fill.fieldAutocompletes {
	width: 90%;
}

#formContainer input[type='text'].datePicker {
	width: 40%;
}

.multiselectContainer input[type='text'],
.multiselectContainer input[type='password'] {
	margin-top: 0 !important;
}

.searchResultsHeader {
	border: 1px solid;
}

.searchResultsHeader .vesselAttribute {
	border: 0;
	
	cursor: help;
}

.ltr .searchResultsHeader .vesselAttribute {
	border-right-width: 1px !important;
	border-right-style: solid !important;
	border-right-color: inherit !important;
}

.rtl .searchResultsHeader .vesselAttribute {
	border-left-width: 1px !important;
	border-left-style: solid !important;
	border-left-color: inherit !important;
}

.defaultWeight {
	font-weight: inherit !important;
}

.smaller {
	font-size: 90%;
	min-height: 14px !important;
	height: 14px !important;
	max-height: 14px !important;
	padding-top: 1px;
}

.actionsBottom .heightToggler {
	height: 16px;
	margin-top: 8px;
}

.expanded #formContainer {
	height: 100%;
	max-height: 100%;
	border-bottom: 0;
}

.ltr #searchResultsList {
	padding-right: 16px;
}

.rtl #searchResultsList {
	padding-left: 16px;
}

.force #searchResultsList {
	height: 480px !important;
	min-height: 480px !important;
}

.expanded #searchResultsList {
	height: 100% !important;
	max-height: 100% !important;
}

#searchResults.expanded {
	margin-bottom: 3em;
}

#searchCriteria {
	width: 300px;
}

.ltr #searchCriteria {
    float: left;
	clear: left;
		
	margin-right: 1em;
}

.rtl #searchCriteria {
    float: right;
	clear: right;
	
	margin-left: 1em;
}

.ltr .internalContainer {
	width: 48%;
}

.rtl .internalContainer {
    width: 47%;
}

.ltr .internalContainer {
    float: left;
}

.rtl .internalContainer {
    float: right;
}

.internalContainer select,
.internalContainer button.ui-multiselect, 
.internalContainer input[type='text'] {
	width: 95% !important;
}

.internalContainer input[type='text'].fieldAutocompletes {
	width: 80% !important;
}

.internalContainer input[type='text'].datePicker {
	width: 70% !important;
}

.ltr .sourcesInterval {
	margin-right: 1em;
}

.rtl .sourcesInterval {
	margin-left: 1em;
}

.ltr .numSourcesTo.sourcesInterval {
	margin-right: 0 !important;
	margin-left: .7em !important;
}

.rtl .numSourcesTo.sourcesInterval {
	margin-left: 0 !important;
	margin-right: .7em !important;
}

.sourcesInterval input[type='text'] {
	width: 16px !important;
}

.numSources.slider {
	width: 140px; 
	margin-top: .5em;
}

.ui-multiselect-checkboxes {
	overflow-y: auto !important;
}

.oAuto {
	overflow: auto !important;
}

.small button.ui-multiselect,
.small .ui-multiselect.ui-button {
	width: 96px !important;
}

.medium button.ui-multiselect,
.medium .ui-multiselect.ui-button {
	width: 128px !important;
}

.large button.ui-multiselect,
.large .ui-multiselect.ui-button {
	width: 192px !important;
}

.small,
.ui-multiselect-menu.small {
	min-width: 96px;	
}

.ui-multiselect-menu.wAuto {
	width: auto !important;
}

.medium,
.ui-multiselect-menu.medium {
	min-width: 128px;	
}

.large,
.ui-multiselect-menu.large,
.ui-multiselect-menu.noWrap {
	min-width: 192px;	
}

.multiselectContainer {
	height: 28px;
}

.expandOnHover {
	text-overflow: ellipsis;
}

fieldset.uncollapsible legend {
	text-decoration: none !important;
	cursor: default !important;
}

#searchResults, #vesselDetails {
	min-width: 880px;
	width: 880px;
	
	white-space: nowrap;
}

.ltr #searchResults, .ltr #vesselDetails {
	float: left;
}

.rtl #searchResults, .rtl #vesselDetails {
	float: right;
}

#searchResultsList {
	clear: both;
	width: 844px;
	max-height: 480px;
	padding-bottom: 2px;
	overflow: auto;
}

.ltr #searchResultsList {
	float: left;
}

.rtl #searchResultsList {
	float: right;
}

.empty #searchResultsList,
.empty.expanded #searchResultsList {
	height: 500px !important;
	max-height: 500px !important;
}

.empty #searchResultsList {
	max-height: 500px !important;
	max-height: 500px !important;
}

.resultsContainer li div,
.vesselDetailsContainer li div {
	font-weight: bold !important;
}

#searchResultsContainer {
	width: 840px;
}

.searchResultsHeader,
.resultsContainer {
	font-size: smaller;
}

.vesselResultEntry {
	display: block;
	width: 843px;  
	min-height: 16px;
}

.ltr .vesselResultEntry {
	float: left;
	clear: left;
}

.rtl .vesselResultEntry {
	float: right;
	clear: right;
}

.searchResultsHeader {
	width: 841px;
	height: 18px !important;
	line-height: 18px !important;	
}

.searchResultsHeader .vesselResultEntry {
	height: 18px !important;
}

.arrowUp, .arrowDown {
	display: none;
}

.asc .arrowUp {
	display: inline;
}

.desc .arrowDown {
	display: inline;
}

.searchResultsHeader .vesselResultEntry .sortable {
	cursor: pointer;
}

.searchResultsHeader .vesselResultEntry div {
	text-align: center;
}

.vesselAttribute {
	min-height: 16px;
	line-height: 16px;
}

.ltr .vesselAttribute {
    float: left;
}

.rtl .vesselAttribute {
    float: right;
}

.ltr .iconContainer {
	padding-left: 10px;
}

.rtl .iconContainer {
	padding-right: 10px;
}

.iconContainer .ui-icon {
	padding-top: 0 !important;
	margin-top: 0 !important;
	border-top: 0 !important;
}

.resultsHeader .vesselAttribute {
	height: 18px;
	line-height: 18px;
}

.vesselId {
	width: 58px;	
}

.resultsContainer .vesselId {
	text-align: center;
}

.vesselUid {
	width: 58px;
	text-align: center;
}

.resultsContainer .vesselUid {
	cursor: pointer;
}

.vesselFlag, .vesselRegFlag {
	width: 18px;
}

.vesselFlag img.flag {
	margin-top: 2px !important;
}

.resultsContainer .vesselFlag {
	height: 16px;
}

div.vesselName {
	width: 162px;
}

div.vesselName a {
	text-decoration: none !important;
}

div.vesselName a:hover,
div.vesselName .currentVesselName:hover {
	cursor: pointer !important;
}

div.vesselName a:hover .currentVesselName {
	text-decoration: underline !important;
}

div.vesselName a .currentVesselName {
	display: inline-block;
	
	width: 145px;
	max-width: 145px;
	overflow: hidden;
	
	text-overflow: ellipsis;
}

.resultsContainer .vesselName {
	font-weight: bold !important;
	
	cursor: pointer;
}

.resultsContainer .vesselName:hover,
.resultsContainer .vesselUid:hover {
	text-decoration: underline;
}

.resultsContainer .vesselName,
.resultsContainer .vesselIRCSValue,
.resultsContainer .vesselRegPortValue,
.resultsContainer .vesselRegNoValue,
.resultsContainer .vesselTypeLabel,
.resultsContainer .gearTypeLabel {
	overflow: hidden;
	white-space: nowrap;
}

.vesselIMO {
	width: 55px;
	text-align: center;
}

.resultsContainer .vesselIMO {
	font-family: monospace;
}

.resultsContainer .vesselIMO.empty {
	font-family: sans-serif;
}

.vesselEUCFR {
	width: 80px;
	text-align: center;		
}

.resultsContainer .vesselEUCFR {
	font-family: monospace;
}

.resultsContainer .vesselEUCFR.empty {
	font-family: sans-serif;
}

.vesselIRCS {
	width: 74px;
}

.vesselIRCSValue {
	width: 60px;
}

.vesselRegPort {
	width: 80px;
}

.vesselRegPortValue {
	width: 76px;
}

.vesselRegNo {
	width: 80px;
}

.vesselRegNoValue {
	width: 76px;
}

.vesselType {
	width: 105px;
}

.vesselTypeLabel {
	width: 100px;
}

.gearType {
	width: 109px;
}

.gearTypeLabel {
	width: 104px;
} 

.valueType {
	font-weight: bold !important;
}

.valueMeasurement {
}

.vesselLength, 
.vesselTonnage {
	width: 65px;
}

.vesselLastUpdate {
	width: 64px;
}

.vesselAuthFrom,
.vesselAuthTo {
	width: 62px;
}

.resultsContainer .vesselLastUpdate,
.resultsContainer .vesselAuthFrom,
.resultsContainer .vesselAuthTo {
	text-align: center;
}

.ltr .resultsContainer .vesselLength,
.ltr .resultsContainer .vesselTonnage {
	text-align: right;
}

.rtl .resultsContainer .vesselLength,
.rtl .resultsContainer .vesselTonnage {
	text-align: left;
}

.vesselTotalSources {
	width: 73px;	
}

.vesselSources {
	width: 20px;
	text-align: center;
}

.vesselSingleSource {
	width: 33px;
	text-align: center;
}

.vesselOriginalSource {
	width: 63px;
}

.ltr .vesselOriginalSource {
	text-align: left;
}

.rtl .vesselOriginalSource {
	text-align: right;
}

#vesselDetailsContainer .vesselSingleSource,
#vesselDetailsContainer .vesselOriginalSource {
	font-size: smaller;
}

.vesselOriginalID {
	width: 88px;
}

.resultsContainer .vesselSource {
	font-weight: bold !important;
}

.ltr .resultsContainer .vesselSource {
	padding-left: .5em;
}

.rtl .resultsContainer .vesselSource {
	padding-right: .5em;
}

.resultsContainer .vesselOriginalID {
	font-family: monospace;	
}

.unauthorized {
	text-decoration: line-through
}

.currentSource {
	color: green !important;
}

.invalidSource {
	color: black !important;
}

#navigation {
	padding-top: 1px;
	margin: 8px 0 8px 0;
}

#searchReport {
	width: 30%;
}

#searchReport > span {
	display: inline-block;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#currentResults {
	font-weight: bold;
}

#searchReport, 
#paginationReport {
	font-size: x-small;
	line-height: 22px; 
}

#paginationReport {
	max-width: 290px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ltr #reports {
	clear: right;
}

.rtl #reports {
	clear: left;
}

#status {
	clear: both;
	padding: 0 .5em;
	height: 1.8em;
	line-height: 1.8em;
}

legend .currentVesselName {
	font-style: italic;
}

old.legend .currentVesselTUVI a {
	text-decoration: none !important;
}

old.legend .currentVesselTUVI a:hover {
	text-decoration: underline !important;	
}

.ltr #liveReportingCountries {
	padding-left: 6%;
}

.rtl #liveReportingCountries {
	padding-right: 6%;
}


#liveReportingCountries .ui-button-text-only .ui-button-text {
	padding: .2em .4em !important;
}