.ie .attributeContainer {
	width: 1129px !important;
}

.ie .attribute, .ie .attributeHeading {
	width: 1146px !important;
}

.ie .pictureSize {
	display: none; /* Retrieving an image size doesn't work well on IE... */
}

.ie.v7 .attributeHeading, .ie.v7 .attribute {	
	width: 1160px !important; 
}

.ie.v7 .attributeContainer {
	width: 1143px !important;
}

.ie.v9 .attributeContainer {
	width: 1130px !important;
}

.ie.v7 .toolbox {
	top: 68px;
}