#tabs {
	border-bottom: 1px solid auto !important;
}

#tabs li.ui-state-default,
#tabs li.ui-state-disabled {
	-moz-box-shadow: 0 8px 16px -6px rgba(0, 0, 0, .3) !important;
	-webkit-box-shadow: 0 8px 16px -6px rgba(0, 0, 0, .3) !important;
	box-shadow: inset 0px -8px 16px -6px rgba(0, 0, 0, .3) !important;
}

#tabs li.ui-state-active {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#tabs li.ui-tabs-selected {
	background-image: none !important;
}

.tabs a {
	background-position: 4px 4px;
	background-repeat: no-repeat;
	margin-bottom: 1px !important;
}

.ltr .tabs a {
    padding-left: 18px;
}

.rtl .tabs a {
	padding-right: 18px;
}

.tabs a.currentDetails {
	background-image: url('../../media/images/icons/default/day.png')
}

.tabs a.historicalDetails {
	background-image: url('../../media/images/icons/default/calendar.png')
}

.tabs a.timeline {
	background-image: url('../../media/images/icons/default/clock.png')
}

.tabs a.pictures {
	background-image: url('../../media/images/icons/default/camera.png')
}

.tabs a.tracks {
	background-image: url('../../media/images/icons/default/greenFlag.png')
}

.tabs a.infringements {
	background-image: url('../../media/images/icons/default/warning.png')
}

ul.submenu li {
	text-align: center;
}

#additionalTools {
	display: none !important;

	overflow: hidden;
	position: absolute;
	top: 199px;
	margin: 0 320px;
	
	width: 320px;
	height: 2px;
		
	line-height: 32px;
	
		
	border: 1px solid;
	border-top-width: 1;
	border-top-color: inherit;
	
	font-weight: bold;	
	
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;

	webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.ltr #additionalTools {
	padding-left: .8em;
	padding-right: 1em;
}

.rtl #additionalTools {
	padding-right: .8em;
	padding-left: 1em;
}

#additionalTools div {
	height: 24px;
	
	white-space: nowrap;
}

#additionalTools div img {
	 vertical-align: text-bottom;
}

#content {
	padding-top: 0;	
}

.ltr #content {
    padding-right: 0;
}

.rtl #content {
    padding-left: 0;
}

/************
 * Toolbars *
 ************/
 
.toolbar {
	border: 0 !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 32px !important;
	line-height: 32px !important;
}

.toolbarBottom {
	height: 32px !important;
	line-height: 32px;	
}

.toolbar img, 
.toolbarBottom img {
	vertical-align: text-bottom;
}

.ltr .toolbar label,
.ltr .toolbarBottom label {
	padding-left: .5em;
}

.rtl .toolbar label,
.rtl .toolbarBottom label {
	padding-right: .5em;
}

.ltr .toolbar .ui-buttonset label {
	padding-left: 0;
}

.rtl .toolbar .ui-buttonset label {
	padding-right: 0;
}

.toolbarLeft {
	height: 31px;
	line-height: 31px;	 
}

.ltr .toolbarLeft {
	float: left;
	margin-right: 2px;
}

.rtl .toolbarLeft {
	float: right;
	margin-left: 2px;
}

.toolbar .actions .actionIcon {
    margin-top: .45em;
}

.ltr .toolbar .actions .actionIcon {
	margin-left: .2em;
}

.rtl .toolbar .actions .actionIcon {
	margin-right: .2em;
}

#authorizationStatus {
	font-weight: bold;
}

.ltr #authorizationStatus {
	float: right;
}

.rtl #authorizationStatus {
	float: left;
}

.navigation {
	margin-top: 3px;
}

.ltr .navigation {
	margin-right: 5px;
}

.rtl .navigation {
	margin-left: 5px;
}

.navigation.thinButtons .ui-button {
	margin-top: 1px;
	min-width: 24px !important;
	height: 22px !important;
}

.ltr .anchorsContainer {
	float: left;
}

.rtl .anchorsContainer {
	float: right;
}

.vesselPicker {
	max-width: 150px !important;
	width: 150px !important;
}

.innerShadowTop,
.innerShadowBottom {
	position: absolute;
	width: 99.3%;
	height: 5px;
}

#historical .innerShadowBottom,
#timeline .innerShadowBottom {
	bottom: 35px;
}

#current .innerShadowBottom {
	bottom: 3px;
}

.innerShadowTop {
	-moz-box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	-webkit-box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
}

.innerShadowBottom {
	-moz-box-shadow: inset 0px -8px 6px -6px rgba(0, 0, 0, .5) !important;
	-webkit-box-shadow: inset 0px -8px 6px -6px rgba(0, 0, 0, .5) !important;
	box-shadow: inset 0px -8px 6px -6px rgba(0, 0, 0, .5) !important;
}

.toolbox {
	border-top: 0 !important;
	position: absolute;

	max-width: 256px;

	padding: 0 .5em;
	
	opacity: .5;
	filter: alpha(opacity=50);
	
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5) !important;
}

.ltr .toolbox {
	right: 0;
	margin-right: 24px;
}

.rtl .toolbox {
	left: 0;
	margin-left: 24px;
}

.toolbox .ui-icon {
	cursor: pointer !important;
	margin: 0 .2em;
}

.toolbox:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

/******************
 * Vessel details *
 ******************/
.vesselDetails {
	clear: both;
		
	max-height: 640px;
	overflow: auto;
}

.ltr .vesselDetails {
	margin-right: 1px;
}

.rtl .vesselDetails {
	margin-left: 1px;
}

.expanded .vesselDetails {
	max-height: 100% !important;
	height: 100% !important;
}

#current .vesselDetails {	
	max-height: 608px;
}

#historical .vesselDetails,
#timeline .vesselDetails {	
	max-height: 576px;
}

#infringements .vesselDetails {
	max-height: 608px;
}

#currentDetailsTools > .toolbarLeft,
#historicalDetailsTools > .toolbarLeft,
#timelineTools > .toolbarLeft {
	font-weight: bold;
}

.vesselDetails * {
	line-height: 1.5em;
}

.vesselDetails img.flag {
	vertical-align: bottom !important;
	margin-right: .5em !important;
	margin-bottom: 4px !important;
}

.vesselDetails .attributeHeading.ui-state-default {
	border: 0;
}

.vesselDetails .authorizations.empty .attributeHeading,
.vesselDetails .authorizations.notEmpty .data {
	border-bottom: 0 !important;
}

.ltr .attribute {
	float: left;
}

.rtl .attribute {
	float: right;
}

.attribute, .attributeHeading {	
	width: 1147px;
}

.attribute.private {
	display: none !important;
}

.attribute.expanded .data {
	display: block;
}

.attribute.expanded .data.hidden,
.attribute.collapsed .data.hidden,
.attribute.collapsed .data {
	display: none;
}

.attribute.expanded.notEmpty .attributeHeading label {
	background-image: url('../../media/images/icons/default/minus.png');
}

.attribute.collapsed.notEmpty .attributeHeading label {
	background-image: url('../../media/images/icons/default/plus.png');
}

.attribute .attributeHeading {
	border-right: 1px solid !important;
	border-bottom: 1px solid !important;
	border-color: inherit !important;
}

.attribute .attributeHeading,
.attribute .attributeHeading * {	
	cursor: pointer !important;
}	

.attribute.empty .attributeHeading, 
.attribute.empty .attributeHeading * {
	cursor: default !important;
}

.attributeHeading {
	border-right: 1px solid;
	border-bottom: 1px solid;
			
	font-size: larger;
			
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

   	-webkit-box-shadow:  -1px 2px 4px 0px rgba(0, 0, 0, .4);
    -moz-box-shadow:  -1px 2px 4px 0px rgba(0, 0, 0, .4);
    box-shadow:  -1px 2px 4px 0px rgba(0, 0, 0, .4);    
}

.ltr .attributeHeading {
    float: left;
	clear: left;

	padding-left: .2em;
}

.rtl .attributeHeading {
    float: right;
	clear: right;

	padding-right: .2em;
}

.attributeHeading label {
	background-repeat: no-repeat;
}

.ltr .attributeHeading label {
	float: left;
	
	padding-left: 18px;
	background-position: left 2px;
}

.rtl .attributeHeading label {
	float: right;
	
	padding-right: 18px;
	background-position: right 2px;
}

.attributeHeading label.previous {
	font-style: italic;
}

.attributeHeading .counter {
	font-style: normal !important;
} 

.empty .attributeHeading,
.collapsed .attributeHeading {
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div .attributeHeading {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.data {
	margin: auto 0;
	
	clear: both;
	
	border-bottom: 1px solid;
	
	border-color: inherit !important;
}

.ltr .data {
    float: left;
    border-right: 1px solid;
}

.rtl .data {
    float: right;
    border-left: 1px solid;
}

.data .attributeContainer:FIRST-CHILD {
	border-top: 0;
}

.ltr .noData {
	float: left;
	padding-left: .5em;
}

.rtl .noData {
	float: right;
	padding-right: .5em;
}

.attributeContainer {
	width: 1131px;

    border-top: 1px dotted;	
}

.ltr .attributeContainer {
	float: left;
	clear: left;
	
	border-left: 1px dotted;
	margin-left: 1.5em;	
}

.rtl .attributeContainer {
	float: right;
	clear: right;
	
	border-right: 1px dotted;
	margin-right: 1.5em;	
}

.ltr .attributeLabel {
	float: left;
	clear: left;	
}

.rtl .attributeLabel {
	float: right;
	clear: right;	
}


.ltr .attributeLabel label {
	padding-left: .5em;
}

.rtl .attributeLabel label {
	padding-right: .5em;
}

.attributeLabel label.hint {
	cursor: help;
}

.attributeLabel + .attributeValue {
	clear: none !important;
}

.attributeValue, .longAttributeValue {
	max-width: 740px;
}

.ltr .attributeValue, .ltr .longAttributeValue {
	float: left;
	clear: left;
	
	padding-left: .5em;
}

.rtl .attributeValue, .rtl .longAttributeValue {
	float: right;
	clear: right;
	
	padding-right: .5em;
}

.mappingDetail {
	padding: 0 .4em;
}

.components .attributeValue, .components .longAttributeValue {
	max-width: 70% !important;
}

[lang='es'] .components .attributeValue,
[lang='es'] .components .longAttributeValue {
	width: 68% !important;
}

.PIDs .attributeValue, .PIDs .longAttributeValue {
	max-width: 840px;
}

#timeline .attributeValue,
#timeline .longAttributeValue {
	max-width: 700px !important;
	clear: none !important;
}

[lang='es'] #timeline .attributeValue,
[lang='es'] #timeline .longAttributeValue {
	max-width: 670px !important;
}

.attributeLabel .componentVessel .ui-icon {
	margin-top: 1px !important;
}

#timeline .attributeLabel .componentVessel .ui-icon {
	display: none !important;
}

.attributeMeta {
	font-size: smaller;
	
	cursor: help;
}

.ltr .attributeMeta {
	float: right;
	clear: right;

	padding-right: .5em;
}

.rtl .attributeMeta {
	float: left;
	clear: left;

	padding-left: .5em;
}

.ltr .noCountry {
	padding-left: 23px;
}

.rtl .noCountry {
	padding-left: 23px;
}

.ltr #timeline .noCountry,
.ltr .shipbuilders .noCountry,
.ltr .owners .noCountry,
.ltr .operators .noCountry {
	padding-left: 0 !important;
}

.rtl #timeline .noCountry,
.ltr .shipbuilders .noCountry,
.ltr .owners .noCountry,
.ltr .operators .noCountry {
	padding-right: 0 !important;
}

.entityAttribute:hover {
	text-decoration: underline;
}

a .displayOnMap.entityAttribute:hover {
	text-decoration: none;
}

.entityName {
	font-variant: small-caps;
	font-size: larger;
}

.entityAddress {
	font-style: italic;
}

.entityZipCode {
	font-family: monospace;
	font-weight: bold;
}

.entityCity {
	font-variant: small-caps;
}

.entityCountry {
	font-weight: bold;
}

.authorizationCode.TO_BE_AUTHORIZED {
	font-style: normal;
}

.authorizationCode.AUTHORIZED {
	font-weight: bold;
}

.authorizationCode.EXPIRED {
	font-style: italic;
}

.authorizationCode.TERMINATED,
.authorizationCode.INVALID,
.authorizationCode.UNKNOWN {
	text-decoration: line-through;
}

label.authorizationIssuer {
	background-repeat: no-repeat;
	
	display: inline-block;
	width: 48px;
}

.ltr label.authorizationIssuer {
    padding-left: 22px !important;
    background-position: 4px;
}

.rtl label.authorizationIssuer {
    padding-right: 22px !important;
    background-position: 44px;
}

#authorizationStatus.TO_BE_AUTHORIZED,
label.authorizationIssuer.TO_BE_AUTHORIZED {
	background-image: url('../../media/images/icons/default/blueCircle.png');
}

#authorizationStatus.AUTHORIZED,
label.authorizationIssuer.AUTHORIZED {
	background-image: url('../../media/images/icons/default/greenCircle.png');
}

#authorizationStatus.EXPIRED,
label.authorizationIssuer.EXPIRED {
	background-image: url('../../media/images/icons/default/orangeCircle.png');
}

#authorizationStatus.TERMINATED,
label.authorizationIssuer.TERMINATED {
	background-image: url('../../media/images/icons/default/redCircle.png');
}

#authorizationStatus.UNKNOWN,
label.authorizationIssuer.UNKNOWN {
	background-image: url('../../media/images/icons/default/grayCircle.png');
}

#authorizationStatus.INVALID,
label.authorizationIssuer.INVALID {
	background-image: url('../../media/images/icons/default/purpleCircle.png');
}

.authorizationCode {
	cursor: help;
}

.authorizationTerminationReasonCode {
	text-transform: uppercase;
}

.ltr .authorizationTerminationReasonCode {
	padding-right: 16px;
}

.rtl .authorizationTerminationReasonCode {
	padding-left: 18px;
} 

.authorizationTerminationReason {
	font-style: italic;
}

/***********************
 * Timeline management *
 ***********************/
 
.timelineCategory {
	color: green;	
	font-weight: bold;
	
	width: 128px;
	max-width: 128px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 

.ltr .timelineCategory {
    float: left;
	clear: left;
	
	text-align: right;
}

.rtl .timelineCategory {
    float: right;
	clear: right;
	
	text-align: left;
}

.timelineCategory + .attributeLabel {
	clear: none !important;
}

.timelineEntry.lastEntry .data {
	border-bottom: 0 !important;
}

/***********************
 * Pictures management *
 ***********************/
 
/* Placeholders */

.ltr #fetchingPictures,
.ltr #fetchedPictures {
	padding-left: 1em;
}

.rtl #fetchingPictures,
.rtl #fetchedPictures {
	padding-right: 1em;
}

.picturesNumberContainer,
.positionsNumberContainer {
	line-height: 29px;
	font-size: smaller;
}

.ltr .positionsNumberContainer {
	margin-left: 1em !important;
}

.ltr .positionsNumberContainer {
	margin-right: 1em !important;
}

#positionsMap {
	width: 99%;
	height: 608px;
	border: 1px solid;
	border-color: inherit;
	margin: 0 auto;
}

.ltr #positionsMap {
    clear: left;
}

.rtl #positionsMap {
    clear: right;
}

/* Containers */

#pictures * {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;	
}

#currentPictures {
	height: 608px;	
	overflow: hidden;
}

#picturesContainer {
	height: 608px;
	line-height: 608px;
	text-align: center;
}

#pictureFrame {
	position: relative;
	max-width: 960px;
	display: inline-block;
	
	border: 1px solid;
	background-color: white;
	
	padding: 15px 15px 15px 15px;
	
	margin: 5px 0 5px 0;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	-moz-box-shadow: 0 8px 6px -6px #000;
	-webkit-box-shadow: 0 8px 6px -6px #000;
	box-shadow: 0 8px 6px -6px #000;
}

.ltr #pictureFrame .blockUI {
	text-align: left;
}

.rtl #pictureFrame .blockUI {
	text-align: right;
}

#vesselPicture {
	max-width: 800px;
	max-height: 450px;
	border: 1px solid;
	border-color: inherit !important;
	
	cursor: pointer;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


/* Thumbs */

#picturesStrip {	
	height: 32px;
}

#thumbs {
	margin: 2px 0;
	padding: 0;

	max-width: 770px;
	height: 27px;
	
	overflow: hidden;
	white-space: nowrap;
}

.ltr #thumbs {
    float: left;
}

.rtl #thumbs {
    float: right;
}

#thumbs img {
  	border: 1px solid;
  	
  	height: 25px;
  	min-height: 25px;
  	max-width: 48px;
  			
	margin: 0 .5em;
	cursor: pointer;
	
	vertical-align: top !important;
}

.ltr #thumbs > img {
	margin-left: 0;
}

.rtl #thumbs > img {
	margin-right: 0;
}

.ltr #thumbs img:LAST-CHILD {
	margin-right: 0;
}

.rtl #thumbs img:LAST-CHILD {
	margin-left: 0;
}

.standalone #thumbs {
	max-width: 1080px !important;
}

/* Thumbs navigation */

#scrollFirst, #scrollLeft, #scrollRight, #scrollLast {
	width: 16px;
	height: 27px;	
	line-height: 27px;

	text-align: center;

	cursor: pointer;
	
	font-weight: bold;
	
	border: 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	
	margin-top: 1px;	
}

.ltr #scrollFirst, .ltr #scrollLeft {
	margin-left: 2px;
}

.rtl #scrollFirst, .rtl #scrollLeft {
	margin-right: 2px;
}

.ltr #scrollRight, .ltr #scrollLast {
	margin-right: 2px;
}

.rtl #scrollRight, .rtl #scrollLast {
	margin-left: 2px;
}

.ltr #scrollLeft {
	margin-right: .2em;
}

.rtl #scrollLeft {
	margin-left: .2em;
}

.ltr #scrollRight {
	margin-left: .2em;
}

.rtl #scrollRight {
	margin-right: .2em;
}

.scrollButtons .ui-icon {
	margin-top: 5px;
}

img.thumbs {
	opacity: .5;
	filter: alpha(opacity=50);
	min-width: 16px;
}

img.thumbs.current, img.thumbs:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Displayed picture */

/* Pictures navigation */

#previousPicture, #nextPicture {
	width: 68px;
	
	border: 1px solid transparent;
}

.ltr #previousPicture {
	float: left;
}

.rtl #previousPicture {
	float: right;
}

.ltr #nextPicture {
	float: right;
}

.rtl #nextPicture {
	float: left;
}

.pictureNavigation {
	border: 1px solid;
	
	opacity: .5;
	filter: alpha(opacity=50);
	
	font-size: 8em;
	
	text-align: center;
	margin-top: 240px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.pictureNavigation * {
	cursor: pointer !important;
}

.pictureNavigation:hover {
	opacity: 1;
	filter: alpha(opacity=100);	
}

.ltr #previousPicture .pictureNavigation {
	margin-left: 4px;
}

.rtl #previousPicture .pictureNavigation {
	margin-right: 4px;
}

.ltr #nextPicture .pictureNavigation {
	margin-right: 4px;
}

.rtl #nextPicture .pictureNavigation {
	margin-left: 4px;
}


#pictureDetailsContainer p {
	margin: .5em .3em;	
}

.ltr #pictureDetailsContainer p {
	text-align: left;
}

.rtl #pictureDetailsContainer p {
	text-align: right;
}

.vesselPictureDetailsContainer {
	position: absolute;
	top: 15px;
	
	opacity: .6;
	filter: alpha(opacity=60);
	
	border-top: 1px dotted;
	
	margin: 0 !important;
}

.ltr .vesselPictureDetailsContainer {
	left: 15px;
	text-align: left;
}

.rtl .vesselPictureDetailsContainer {
	right: 15px;
	text-align: right;
}

.vesselPictureDetailsContainer:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.vesselPictureDetailsContainer .allDetails {
	display: block;
}

.vesselPictureDetailsContainer .allDetails > p.pictureDetails {
	margin-top: 0 !important;
}

div.pictureDetails.ui-widget-header {
	line-height: 2em;

	margin-top: 2px;
	margin-bottom: 2px;
	
	cursor: s-resize;
	
	font-size: larger;
}

.ltr div.pictureDetails.ui-widget-header {
	margin-left: 1px;
	margin-right: 1px;
	padding-left: .2em;
}

.rtl div.pictureDetails.ui-widget-header {
	margin-right: 1px;
	margin-left: 1px;
	padding-right: .2em;
}

div.pictureDetails.ui-widget-header .controls {
	margin-top: .3em;
	cursor: pointer;
}

div.pictureDetails.ui-widget-header.expanded .expandedDetails,
div.pictureDetails.ui-widget-header.collapsed .collapsedDetails {
	display: auto;
}

div.pictureDetails.ui-widget-header.expanded .collapsedDetails,
div.pictureDetails.ui-widget-header.collapsed .expandedDetails {
	display: none;
}

p.pictureDetails {
	max-width: 98%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
	margin: .5em .2em;
}

.ltr p.pictureDetails {
	padding-left: .2em;
}

.rtl p.pictureDetails {
	padding-right: .2em;
}

.pictureDetails.searchImage {
	line-height: 3em;
	border-top: 1px dotted;
	background-image: url('http://www.google.com/favicon.ico');
	background-position: 2px;
	background-repeat: no-repeat;
	
	margin-bottom: 0;
}

.ltr .pictureDetails.searchImage {
	padding-left: 34px;
}

.rtl .pictureDetails.searchImage {
	padding-right: 34px;
}

#fileIDLabel, #rowIDLabel, #vesselIDLabel, #vesselCurrentNameLabel, #authorizationStatus {
	cursor: help;
	color: green;
}

/***********
 * Classes *
 ***********/
.actionButton:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.PSMLinksContainer {
	width: 96px;
	max-height: 128px;
	overflow: auto;
}

.PSMLinksContainer a {
	display: block;
}

.additionalLinks .external {
	background-image: url('../../media/images/icons/default/small/magnifier.png');
	background-position: 2px 4px;
	background-repeat: no-repeat;
}

.ltr .additionalLinks .external {
	padding-left: 16px;
}

.rtl .additionalLinks .external {
	padding-right: 16px;
}

.portsManagementLink {
	display: none;
}

.displayOnMap {
	padding-right: 18px;
	background-position: right;
	background-repeat: no-repeat;
	background-image: url('../../media/images/icons/default/worldChart.png');
	
	cursor: pointer !important;
}

.colorizeBySource .description {
	border-bottom: 1px dotted;
}

.colorizeBySource .description:hover {
	border-bottom: 1px solid;
}

.oldTrack {
	padding: .2em;
	margin-bottom: .4em;
}

.oldTrack img {
	vertical-align: text-bottom;
	margin-right: .2em;
}

#infringementsReport h1 {
	font-size: 18px !important;
	margin: 0 auto !important;
	padding: .5em .25em !important;
}

#infringementsReport .infringementDetail a,
#infringementsReport br {
	display: none;
}

#infringementsReport h4 {
	text-transform: uppercase;
	font-size: larger;
	padding: 1em;
	margin: .5em;
}

#infringementsReport h3 {
	font-size: small;
}

#infringementsReport table {
	border: 1px solid;
	border-color: inherit;
	margin: 0 auto;
	max-width: 95% !important;
}

.ltr #infringementsReport #historyTables > table .historyTable table {
	margin-left: 0;
}

.rtl #infringementsReport #historyTables > table .historyTable table {
	margin-right: 0;
}

.ltr #infringementsReport #overview table th {
	text-align: right;
}

.rtl #infringementsReport #overview table th {
	text-align: left;
}

#infringementsReport table td {
	border: 1px solid;
}