#startEditing,
#cancelEditing,
#confirmEditing {
	padding-left: 22px !important;
	background-position: 3px;
	background-repeat: no-repeat;	
}

#startEditing {
	background-image: url('../media/images/icons/default/edit.png');
}

#cancelEditing {
	background-image: url('../media/images/icons/default/redX.png');
}

#confirmEditing {
	background-image: url('../media/images/icons/default/greenTick.png');
}

input[type='button'].actionButton.addNew {
	padding-left: 16px !important;
	background-image: url('../media/images/icons/default/small/plus.png');
	background-position: 3px;
	background-repeat: no-repeat;
}

.editingMode .attributeContainer.editable,
.editingMode .attributeContainer.nonEditable {
	cursor: help;
	padding-left: 12px;
	width: 969px !important;
	background-position: left top;
	background-repeat: no-repeat;
}

.editingMode .attributeContainer.editable {
	background-position: left 1px;
}

.editingMode .attributeContainer.editable:hover {
	background-image: url('../media/images/icons/default/edit.png');
	
	background-color: #FFFFCC !important;
}

.editingMode .attributeContainer.nonEditable {
	background-image: url('../media/images/icons/default/lock.png');

	opacity: .7;
	filter: alpha(opacity=70);	
}

.editingMode .attributeHeading input[type='button'].actionButton {
	margin-left: .8em !important;
	padding: 0 1em !important;
	vertical-align: 1px;
}

.dataMarker,
.updatedDataMarker,
.newDataMarker,
.misplacedDataMarker {
	display: inline-block;
	min-width: 8px;
			
	margin-bottom: .2em;
	padding: 0 .2em;
	
	color: blue !important;
	
	cursor: help;
}

.newDataMarker,
.misplacedDataMarker {
	color: white !important;	
}

.dataMarker {
	background-color: silver;
}

.newDataMarker {
	background-color: blue;
}

.updatedDataMarker {
	background-color: orange;
}

.misplacedDataMarker {
	background-color: red;
}

.combined .attributeContainer {
	width: 976px !important;
	border-left: 6px solid !important;
	border-left-color: silver !important;
}

.combined .attributeContainer.newData {
	border-left-color: blue !important;
}

.combined .attributeContainer.updatedData {
	border-left-color: orange !important;
}

.combined .attributeContainer.misplacedData {
	border-left-color: red !important;
}