<div id="footer">
	(C) 2010 / 2012 FAO of the UN - recommended screen resolution of 1280 x 1024 pixels. Some Icons are Copyright (C) <a href="http://p.yusukekamiyamane.com" class="external">Yusuke Kamiyamane</a>.
</div>