				<fieldset id="selectedVesselsDetails">
					<legend class="applyHeightToggler bordered noHeader">
						<span class="caption">
							<%=$DISPLAY.getText("vrmf.vessel.common.header")%>&nbsp;<span class='currentVesselName'>-</span> 
							[ <span id="groupBy">_ID</span> #<span class='currentVesselUID'></span> ]
						</span>
						<span id="conditionalVesselDataExporterLinks" class="userDependent dropDownMenu { displayIf: { can:'EXPORT_V_DATA' } }">
							<span class="asButton xSmallButtons thinButtons uCase widthMin125 { buttonOptions: { icons: { secondary: 'ui-icon-disk' } } }"><%=$DISPLAY.getText("vrmf.vessel.common.header.download")%></span>
							<ul class="menu clean ui-tooltip-shadow hidden">
								<li>
									<a href="services/public/vessels/retrieve/data/{idType}/{id}.xml" 
									   class="xSmallFont exportVesselDataLink newWin widthMin100 { position: { my: 'left top', at: 'right top' } }" 
									   title="<%=$DISPLAY.getText("vrmf.vessel.common.header.download.xml.tip")%>">
										<span class="ui-icon ui-icon-disk"></span>
										<span>XML</span>
									</a>
								</li>
								<li>
									<a href="services/public/vessels/retrieve/data/{idType}/{id}.json" 
									   class="xSmallFont exportVesselDataLink newWin widthMin100 { position: { my: 'left top', at: 'right top' } }" 
									   title="<%=$DISPLAY.getText("vrmf.vessel.common.header.download.json.tip")%>">
									   	<span class="ui-icon ui-icon-disk"></span>
										<span>JSON</span>
									</a>
								</li>
								<li>
									<a href="services/public/vessels/retrieve/data/{idType}/{id}.jsonp" 
									   class="xSmallFont exportVesselDataLink newWin widthMin100 { position: { my: 'left top', at: 'right top' } }" 
									   title="<%=$DISPLAY.getText("vrmf.vessel.common.header.download.jsonp.tip")%>">
										<span class="ui-icon ui-icon-disk"></span>
										<span>JSONP</span>
									</a>
								</li>
							</ul>
						</span>
					</legend>
					<div id="dataContainer">
						<%if(hasOtherSources) {%>
						<div id="multipleSourcesReport" class="ui-widget-header ui-corner-all bottomShadow up">
							<div>
								<h3>
									<span class="left ui-helper-clearfix ui-icon ui-icon-alert"></span>
									<%=$DISPLAY.getText("vrmf.vessel.common.header.duplicates.1", String.valueOf(allAvailableSources.length - 1), currentSource)%>&nbsp;
									<%=$DISPLAY.getText("vrmf.vessel.common.header.duplicates.2")%>
								</h3>
								<div class="buttonSet uCase centered">
								<%for(String source : allAvailableSources) {
									if(!source.equals(currentSource)) {%>
									<a class="newWin widthMin75 { target: '_VRMF_VESSEL_<%=groupBy%>_<%=formattedUID%>_<%=source%>', buttonOptions: { icons: { secondary: 'ui-icon-newwin' } } }" 
									   href="<%=ServletsHelper.localizeURI(source + "/!/display/vessel/UID/" + formattedUID, language)%>"
									   title="<%=$DISPLAY.getText("vrmf.vessel.common.header.duplicates.link.tip", source)%>">
										<img name="<%=source%>" class="sourceIcon fill" src="" alt="<%=source%>"/>
										<%=source%>
									</a>
									<%} 
								}%>
									<a class="newWin widthMin75 { target: '_VRMF_VESSEL_<%=groupBy%>_<%=formattedUID%>', buttonOptions: { icons: { primary: 'ui-icon-circle-check', secondary: 'ui-icon-newwin' } } }" 
									   href="<%=ServletsHelper.localizeURI("!/display/vessel/UID/" + formattedUID, language)%>"
									   title="<%=$DISPLAY.getText("vrmf.vessel.common.header.duplicates.all.link.tip")%>">
									   <%=$DISPLAY.getText("vrmf.vessel.common.header.duplicates.all.link")%>
									</a>
								</div>
							</div>
							<div class="actions">
								<span class="left ui-helper-clearfix ui-icon ui-icon-circle-arrow-s" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.duplicates.move.down.tip")%>" onclick="javascript:toggleMultipleSourcesReport();"></span>
								<span class="left ui-helper-clearfix ui-icon ui-icon-circle-arrow-n" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.duplicates.move.up.tip")%>" onclick="javascript:toggleMultipleSourcesReport();"></span>
								<span class="left ui-helper-clearfix ui-icon ui-icon-circle-close" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.duplicates.close.tip")%>" onclick="javascript:$('#multipleSourcesReport').fadeOut(function() { $(this).remove(); }); return false;"></span>
							</div>
						</div>
						<%}%>
						<div id="tabsContainer">
							<ul id="tabs" class="tabs ui-corner-top">
								<li><a href="<%=ServletsHelper.localizeURI(requestedURI, language)%>#current" class="currentDetails"><%=$DISPLAY.getText("vrmf.vessel.common.tabs.current")%></a></li>
								<li><a href="<%=ServletsHelper.localizeURI(requestedURI, language)%>#historical" class="historicalDetails"><%=$DISPLAY.getText("vrmf.vessel.common.tabs.historical")%></a></li>
								<li><a href="<%=ServletsHelper.localizeURI(requestedURI, language)%>#timeline" class="timeline"><%=$DISPLAY.getText("vrmf.vessel.common.tabs.timeline")%></a></li>
								<li><a href="<%=ServletsHelper.localizeURI(requestedURI, language)%>#pictures" class="pictures"><%=$DISPLAY.getText("vrmf.vessel.common.tabs.pictures")%> <span id="numberOfPictures"></span></a></li>
								<li><a href="<%=ServletsHelper.localizeURI(requestedURI, language)%>#positions" class="tracks"><%=$DISPLAY.getText("vrmf.vessel.common.tabs.tracks")%> <span id="numberOfPositions"></span></a></li>
								<li><a href="<%=ServletsHelper.localizeURI(requestedURI, language)%>#infringements" class="infringements"><%=$DISPLAY.getText("vrmf.vessel.common.tabs.infringements")%> <span id="numberOfInfringements"></span></a></li>
							</ul>
							
							<div class="actions right smallButtons thinButtons uCase navigation embeddedLinks">
								<span class="asButton { buttonOptions: { text: false, icons: { primary: 'ui-icon-arrowreturnthick-1-w' } } }" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.back.tip")%>" onclick="javascript:return showSearchResultsPanel();"></span>
								<a href="#" class="asButton detach { buttonOptions: { text: false, icons: { secondary: 'ui-icon-newwin' } } }" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.detach.tip")%>"></a>
							</div>
							
							<span id="authorizationStatus" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.auth.status.tip")%>"></span>
							
							<div id="current" class="detailsContainer colorizeBySource">
								<div id="currentDetailsTools" class="toolbar ui-corner-bottom ui-state-default ui-tabs-selected ui-state-active removeBackground">
									<div class="toolbarLeft ui-helper-clearfix">
										<div class="left">
											&nbsp;<%=$DISPLAY.getText("vrmf.vessel.common.header.display")%>
											<span id="currentSourceChoice" class="sourceChoice">
												<select id="currentSystemPicker" class="simple systemPicker autosized" zonchange="javascript:return displayVesselDetailsForSystem($('#current'));">
													<option value="" class="even"><%=$DISPLAY.getText("vrmf.vessel.common.header.display.combined")%></option>
												</select>
											</span> 
											<%=$DISPLAY.getText("vrmf.vessel.common.header.display.details")%>
											<span id="currentComponentVesselChoice" class="vesselChoice">
												<%=$DISPLAY.getText("vrmf.vessel.common.header.display.component")%>&nbsp;
												<select id="currentVesselPicker" class="simple vesselPicker">
													<option value="" class="even">------</option>
												</select>
											</span>
											<%=$DISPLAY.getText("vrmf.vessel.common.header.display.current")%>
										</div>
										<div class="left">
											<div class="left">
												<a href="#" class="imageLink previousDate" onclick="javascript:return rollDown(true);" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.display.date.previous.tip")%>">
													<img src="../cdn/media/images/icons/default/previous.png" alt="Previous"/>
												</a>
											</div>
											<div class="left">
											<select id="currentDateSelector" class="simple dateSelector autosized"><option class="toRemove"/></select>
											</div>
											<div class="left">
											<a href="#" class="imageLink nextDate" onclick="javascript:return rollUp(true);" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.display.date.next.tip")%>">
												<img src="../cdn/media/images/icons/default/next.png" alt="Next"/>
											</a>
											</div>
										</div>
										<div class="toolbarControls left leftPad">
											<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors")%>
											<span class="colorizer buttonSet smallButtons uCase">
												<label for="colorizeCurrentBySource" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.enable.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.enable")%></label> 
												<input id="colorizeCurrentBySource" name="colorizeRowsCurrent" type="radio" checked="checked" value="true"/>
												<label for="dontColorizeCurrentBySource" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.disable.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.disable")%></label> 
												<input id="dontColorizeCurrentBySource" name="colorizeRowsCurrent" type="radio" value="false"/>
											</span>
											<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty")%>
											<span class="emptyAttributesToggler buttonSet smallButtons uCase">
												<label for="hideCurrentEmptyAttributes" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty.hide.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty.hide")%></label> 
												<input id="hideCurrentEmptyAttributes" name="hideEmptyAttributesCurrent" type="radio" checked="checked" value="true"/>
												<label for="showCurrentEmptyAttributes" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty.show.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty.show")%></label> 
												<input id="showCurrentEmptyAttributes" name="hideEmptyAttributesCurrent" type="radio" value="false"/>
											</span>
										</div>
									</div>
								</div>
								
								<div class="vesselDetails scrollable ui-widget-content ui-corner-all">
									<%@include file="toolbox.jspf"%>
									<%@include file="vesselDetails.jspf"%>
								</div>
							</div>

							<div id="historical" class="detailsContainer colorizeBySource">
								<div id="historicalDetailsTools" class="toolbar ui-corner-bottom ui-state-default ui-tabs-selected ui-state-active removeBackground">
									<div class="toolbarLeft ui-helper-clearfix">
										<span id="historicalDetailsDisplayContainer">
											&nbsp;<%=$DISPLAY.getText("vrmf.vessel.common.header.display")%>
											<span id="historicalSourceChoice" class="sourceChoice">
												<select id="historicalSystemPicker" class="simple systemPicker autosized" >
													<option value="" class="even"><%=$DISPLAY.getText("vrmf.vessel.common.header.display.combined")%></option>
												</select>
											</span> 
											<%=$DISPLAY.getText("vrmf.vessel.common.header.display.details")%>
											<span id="historicalComponentVesselChoice" class="vesselChoice">
												<%=$DISPLAY.getText("vrmf.vessel.common.header.display.component")%>&nbsp;
												<select id="historicalVesselPicker" class="simple vesselPicker">
													<option value="" class="even">------</option>
												</select>
											</span>
										</span>
									</div>

									<div class="toolbarControls toolbarLeft ui-helper-clearfix leftPad">
										<label><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors")%></label>
										<span class="colorizer buttonSet smallButtons uCase">
											<label for="colorizeHistoricalBySource" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.enable.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.enable")%></label> 
											<input id="colorizeHistoricalBySource" name="colorizeRowsHistorical" type="radio" checked="checked" value="true"/>
											<label for="dontColorizeHistoricalBySource" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.disable.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.disable")%></label> 
											<input id="dontColorizeHistoricalBySource" name="colorizeRowsHistorical" type="radio" value="false"/>
										</span>
										<label><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty")%></label>
										<span class="emptyAttributesToggler buttonSet smallButtons uCase">
											<label for="hideHistoricalEmptyAttributes" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty.hide.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty.hide")%></label> 
											<input id="hideHistoricalEmptyAttributes" name="hideEmptyAttributesHistorical" type="radio" checked="checked" value="true"/>
											<label for="showHistoricalEmptyAttributes" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty.show.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.attributes.empty.show")%></label> 
											<input id="showHistoricalEmptyAttributes" name="hideEmptyAttributesHistorical" type="radio" value="false"/>
										</span>
									</div>
								</div>
								<div class="vesselDetails scrollable ui-widget-content ui-corner-all">
									<%@include file="toolbox.jspf"%>
									<%@include file="vesselDetails.jspf"%>
								</div>
								<div class="toolbarBottom ui-state-active ui-corner-bottom borderless removeBackground">
									<label><%=$DISPLAY.getText("vrmf.vessel.common.footer.jump.to")%> </label>
									<select id="quickJump" class="simple" title="<%=$DISPLAY.getText("vrmf.vessel.common.footer.jump.to.tip")%>" onchange="javascript:jumpTo();">
										<option value=""><%=$DISPLAY.getText("vrmf.vessel.common.footer.jump.to.choose")%></option>
									</select>
								</div>
							</div>

							<div id="timeline" class="detailsContainer colorizeBySource">
								<div id="timelineTools" class="toolbar ui-corner-bottom ui-state-default ui-tabs-selected ui-state-active removeBackground">
									<div class="toolbarLeft ui-helper-clearfix">
										<span id="timelineDisplayContainer">
											&nbsp;<%=$DISPLAY.getText("vrmf.vessel.common.header.display")%>
											<span id="timelineSourceChoice" class="sourceChoice">
												<select id="timelineSystemPicker" class="simple systemPicker autosized" onchange="javascript:return displayTimelineForSystem($('#timeline'));return true;">
													<option value="" class="even"><%=$DISPLAY.getText("vrmf.vessel.common.header.display.combined")%></option>
												</select>
											</span> 
											<%=$DISPLAY.getText("vrmf.vessel.common.header.display.timeline")%>
											<span id="timelineComponentVesselChoice" class="vesselChoice">
												<%=$DISPLAY.getText("vrmf.vessel.common.header.display.component")%>&nbsp;
												<select id="timelineVesselPicker" class="simple vesselPicker" onchange="javascript:return displayTimelineForVessel($('#timeline'));return true;">
													<option value="" class="even">------</option>
												</select>
											</span>
										</span>
									</div>

									<div class="toolbarControls toolbarLeft ui-helper-clearfix leftPad">
										<label><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors")%></label>
										<span class="colorizer buttonSet smallButtons uCase">
											<label for="colorizeTimelineBySource" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.enable.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.enable")%></label> 
											<input id="colorizeTimelineBySource" name="colorizeRowsTimeline" type="radio" checked="checked" value="true"/>
											<label for="dontColorizeTimelineBySource" title="<%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.disable.tip")%>" class="widthMin50"><%=$DISPLAY.getText("vrmf.vessel.common.header.configure.row.colors.disable")%></label> 
											<input id="dontColorizeTimelineBySource" name="colorizeRowsTimeline" type="radio" value="false"/>
										</span>
									</div>
								</div>
								<div class="vesselDetails scrollable ui-widget-content ui-corner-all">
									<%@include file="toolbox.jspf"%>
								</div>
								<div class="toolbarBottom ui-state-active ui-corner-bottom borderless removeBackground">
									<label><%=$DISPLAY.getText("vrmf.vessel.common.footer.timeline.jump.to")%> </label>
									<select id="timelineQuickJump" class="simple" title="<%=$DISPLAY.getText("vrmf.vessel.common.footer.timeline.jump.to.tip")%>" onchange="javascript:timelineJumpTo();">
										<option value=""><%=$DISPLAY.getText("vrmf.vessel.common.footer.timeline.jump.to.choose")%></option>
									</select>
								</div>
							</div>

							<div id="pictures">
								<div id="picturesStrip" class="toolbar ui-corner-bottom ui-state-default ui-tabs-selected ui-state-active removeBackground">
									<div id="scrollFirst" class="hoverize scrollButtons left ui-state-default removeBackground" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.thumbnails.scroll.first.tip")%>">
										<span class="ui-icon ui-icon-seek-first"></span>
									</div>
									<div id="scrollLeft" class="hoverize scrollButtons left ui-state-default removeBackground" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.thumbnails.scroll.previous.tip")%>">
										<span class="ui-icon ui-icon-seek-prev"></span>
									</div>
									<div id="thumbs">
									</div>
									<div id="scrollRight" class="hoverize scrollButtons left ui-state-default removeBackground" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.thumbnails.scroll.next.tip")%>">
										<span class="ui-icon ui-icon-seek-next"></span>
									</div>
									<div id="scrollLast" class="hoverize scrollButtons left ui-state-default removeBackground" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.thumbnails.scroll.last.tip")%>">
										<span class="ui-icon ui-icon-seek-end"></span>
									</div>
								</div>
								<div id="currentPictures" class="vesselDetails ui-widget-content">
									<div id="previousPicture">
										<div class="hoverize pictureNavigation ui-state-default removeBackground link hidden">
											<span onclick="javascript:return previousPicture(true);" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.previous.tip")%>">&lt;</span>
										</div>
									</div>
									<div id="nextPicture">
										<div class="hoverize pictureNavigation ui-state-default removeBackground link hidden">
											<span onclick="javascript:return nextPicture(true);" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.next.tip")%>">&gt;</span>
										</div>
									</div>
									<div id="picturesContainer" class="ui-state-default borderless removeBackground">
										<div id="pictureFrame">
											<img id="vesselPicture" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.click.tip")%>" class="{ position: { my: 'center top ', at: 'center bottom ' } }" onclick="javascript:return nextPicture(true);" src="../cdn/media/images/decorations/empty.png" alt="Vessel picture"/>
											<div class="vesselPictureDetailsContainer ui-widget-content ui-state-highlight ui-corner-bottom ui-helper-clearfix hidden">
												<div class="pictureDetails ui-widget-header ui-corner-all ui-helper-clearfix expanded" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.details.header.tip")%>">
													<b class="left ui-helper-clearfix"><%=$DISPLAY.getText("vrmf.vessel.pictures.details")%></b>
													<span class="right controls ui-helper-clearfix { position: { my: 'left bottom ', at: 'center top' } }" title="<%=$DISPLAY.getText("vrmf.vessel.pictures.details.header.toggle.tip")%>">
														<span class="expandedDetails ui-icon ui-icon-carat-1-s"></span>
														<span class="collapsedDetails ui-icon ui-icon-carat-1-n"></span>
													</span>
												</div>
												<div class="allDetails ui-helper-clearfix">
													<p class="pictureDetails pictureSize">
														<b><%=$DISPLAY.getText("vrmf.vessel.pictures.details.size")%>&nbsp;</b>
														<span class="actualPictureSize"></span>
													</p>
													<p class="pictureDetails attribution">
														<b><%=$DISPLAY.getText("vrmf.vessel.pictures.details.attribution")%>&nbsp;<span class="attributionType"></span>:&nbsp;</b>
														<a id="picturesProvider" class="externalStatic pre default" target="_BLANK"></a>
													</p>
													<p class="pictureDetails sourceURL">
														<b><%=$DISPLAY.getText("vrmf.vessel.pictures.details.source.page")%>&nbsp;</b>
														<a class="externalStatic pre default" target="_BLANK"></a>
													</p>
													<p class="pictureDetails pictureURL">
														<b><%=$DISPLAY.getText("vrmf.vessel.pictures.details.source.url")%>&nbsp;</b>
														<a class="externalStatic pre default" target="_BLANK"></a>
													</p>
													<p class="pictureDetails criteria">
														<b><%=$DISPLAY.getText("vrmf.vessel.pictures.details.source.criteria")%>&nbsp;</b>
														<span class="identificationCriteria"></span>
													</p>
													<p class="pictureDetails searchImage">
														<b><%=$DISPLAY.getText("vrmf.vessel.pictures.details.search.similar.link")%>&nbsp;</b>
														<a class="externalStatic pre default" target="_BLANK">
															<%=$DISPLAY.getText("vrmf.vessel.pictures.details.search.similar.link.google")%>
														</a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="positions">
								<div id="vesselPositionTools" class="toolbar ui-corner-bottom ui-state-default ui-tabs-selected ui-state-active removeBackground">
									<div class="toolbarLeft">
										<div class="left">
											<label for="trackSelector"><%=$DISPLAY.getText("vrmf.vessel.tracks.select")%></label>
											<select id="trackSelector">
												<option value=""><%=$DISPLAY.getText("vrmf.vessel.tracks.select.all")%></option>
											</select>
										</div>
									</div>
								</div>
								<div id="positionsMap">
								</div>
							</div>
							
							<div id="infringements" class="hidden">
								<div id="infringementsTools" class="toolbar ui-corner-bottom ui-state-default ui-tabs-selected ui-state-active removeBackground">
								</div>
								<div id="infringementsReport" class="vesselDetails scrollable ui-widget-content ui-corner-top">
								</div>
							</div>
						</div>
					</div>
				</fieldset>