<%@page import="java.util.Locale"%>
<%@page import="java.util.Date"%>
<%@page import="java.util.ArrayList"%>
<%@page import="java.util.Collection"%>
<%@page import="java.util.Enumeration"%>
<%@page import="java.util.List"%>
<%@page import="java.util.Set"%>
<%@page import="java.util.HashMap"%>
<%@page import="java.util.Map"%>
<%@page import="java.text.SimpleDateFormat"%>
<%@page import="javax.naming.Context"%>
<%@page import="javax.naming.InitialContext"%>

<%@page import="org.springframework.http.HttpStatus"%>

<%@page import="org.fao.fi.sh.model.core.spi.Pair"%>
<%@page import="org.fao.fi.sh.utility.model.BasicPair"%>
<%@page import="org.fao.fi.sh.utility.model.extensions.collections.ListSet"%>

<%@page import="org.fao.fi.sh.utility.core.helpers.singletons.lang.ObjectsHelper"%>
<%@page import="org.fao.fi.sh.utility.core.helpers.singletons.lang.CollectionsHelper"%>
<%@page import="org.fao.fi.sh.utility.core.helpers.singletons.text.StringsHelper"%>
<%@page import="org.fao.fi.sh.utility.core.helpers.singletons.io.URLHelper"%>

<%@page import="org.fao.fi.sh.utility.common.helpers.beans.io.HTTPHelper"%>

<%@page import="org.fao.fi.vrmf.common.web.helpers.beans.text.i18n.CustomBundleManager"%>

<%@page import="org.fao.fi.vrmf.common.models.security.VRMFUser"%>
<%@page import="org.fao.fi.vrmf.common.j2ee.RequestAttributesConstants"%>
<%@page import="org.fao.fi.vrmf.common.j2ee.utilities.ServletsHelper"%>
<%@page import="org.fao.fi.vrmf.web.apps.finder.controllers.services.pub.redirect.RedirectorsConstants"%>

<%@page import="org.fao.fi.vrmf.common.models.generated.SSystems"%>
<%
	boolean isErrorPage = false;
	boolean isSearchPage = true;

	String adminEMail = "VRMF-Administrator@fao.org";
	adminEMail = adminEMail.replaceAll("\\@", " (at) ").replaceAll("\\.", " (dot) ");
	
	String metaAuthor = "FAO VRMF team @ FIPS, e-mail: " + adminEMail;

	VRMFUser LOGGED_USER = ServletsHelper.getLoggedUser(request);
	ServletsHelper.RequestInfo requestInfo = ServletsHelper.getRequestInfo(request); 

	boolean isCrawler = requestInfo.getIsBot();
		
	boolean addPort = ( "http".equals(request.getScheme()) && request.getServerPort() != 80 ) ||
					  ( "https".equals(request.getScheme()) && request.getServerPort() != 443 );
	
	String base = ( requestInfo.getForwarderPath() == null ? "" : requestInfo.getForwarderPath() ) + requestInfo.getContextPath();

	String baseHREF = requestInfo.getScheme() + "://" + 
					  request.getServerName() + 
					( addPort ? ":" + request.getServerPort() : "" ) + 
					  base + "/";

	String normalizedContext = request.getContextPath();
	if(!normalizedContext.endsWith("/"))
		normalizedContext += "/";
	
	String requestedURI = (String)ObjectsHelper.coalesce((String)request.getAttribute(RedirectorsConstants.REQUESTED_URI_REQUEST_ATTRIBUTE_CONSTANT), request.getRequestURI().toString());
	requestedURI = requestedURI.replace(normalizedContext, "");
	
	String locationHREF = baseHREF + requestedURI;
	
	String defaultLanguage = (String)request.getAttribute(RequestAttributesConstants.DEFAULT_LANGUAGE_REQUEST_ATTRIBUTE);
	String currentLanguage = (String)request.getAttribute(RequestAttributesConstants.CURRENT_LANGUAGE_REQUEST_ATTRIBUTE);

	String language = currentLanguage == null || currentLanguage.equals(defaultLanguage) ? "" : currentLanguage;
	String languageWithFallback = "".equals(language) ? defaultLanguage : language;
	
	boolean isRTL = "ar".equalsIgnoreCase(language);
	
	boolean addInitialSlash  = "".equals(language) || 
							   language.equals(defaultLanguage) ||
							   !requestedURI.endsWith("/") ;
	
	boolean addFinalSlash = requestedURI.endsWith("/");
	
	String langPath = ( addInitialSlash ? "/" : "" ) + 
					  ( language.toLowerCase() ) + 
					  ( addFinalSlash ? "/" : "" );
	
	CustomBundleManager $COMMON = new CustomBundleManager("i18n/finder/web/server/", new Locale(languageWithFallback), new String[] {
		"common/credits", 
		"common/footer", 
		"common/header", 
		"common/login",
		"common/unsupported",
	});
	
	boolean isLogged = LOGGED_USER != null;
	boolean isNotGuest = isLogged && !"PUBLIC_GUEST".equals(LOGGED_USER.getId());

	boolean isSourceSpecificAutologin = Boolean.TRUE.equals(request.getAttribute(RequestAttributesConstants.SOURCE_SPECIFIC_AUTO_LOGIN_REQUEST_ATTRIBUTE));
	boolean isSourceSpecificEntrancePage = Boolean.TRUE.equals(request.getAttribute(RequestAttributesConstants.SOURCE_SPECIFIC_ENTRANCE_PAGE_REQUEST_ATTRIBUTE));

	SSystems specificSource = isSourceSpecificAutologin ? (SSystems)request.getAttribute(RequestAttributesConstants.SOURCE_SPECIFIC_SOURCE_REQUEST_ATTRIBUTE) : null;
	String specificSourceID = specificSource == null ? null : specificSource.getId(); 
	
	String sourceDescription = specificSource == null ? null : specificSourceID + " (" + specificSource.getName() + ")"; 
	
	String themeCSS = "../cdn/styles/themes/jquery/ui/vrmf/delta/jquery-ui.css";
	
	Cookie[] cookies = request.getCookies();

	if(cookies != null)
		for(Cookie cookie : cookies) {
			if("vrmf.browser.theme.CSS".equals(cookie.getName()) && 
			   ("/".equals(cookie.getPath()) || cookie.getPath() == null ) &&
			   StringsHelper.trim(cookie.getValue()) != null)
					themeCSS = StringsHelper.trim(cookie.getValue());
		}
	
	Context initCtx = new InitialContext(); 
	Context envCtx = (Context) initCtx.lookup("java:comp/env"); 
	String analyticsID = "NOT_SET";
	
	try {
		analyticsID = (String)envCtx.lookup("analytics/finder");
	} catch (Throwable t) {
		;//SUFFOCATE;
	}
	
	boolean trackRequest = requestInfo.getIsForwarded() && !requestInfo.isInternalRequest();
	
	Collection<String> keywords = new ListSet<String>();
	keywords.add("FAO");
	keywords.add("VRMF");
	keywords.add("FVF");
	keywords.add("FIGIS");
	keywords.add("Vessel Records Management Framework");
	keywords.add($COMMON.getText("common.FVF"));
	keywords.add($COMMON.getText("common.keywords.1"));
	keywords.add($COMMON.getText("common.keywords.2"));
	keywords.add($COMMON.getText("common.keywords.3"));
	keywords.add($COMMON.getText("common.keywords.4"));
	keywords.add($COMMON.getText("common.keywords.5"));
	keywords.add($COMMON.getText("common.keywords.6"));
	
	String[] availableSources = ServletsHelper.getAvailableSources(LOGGED_USER, request, false);
	
	if(availableSources != null) {
		for(String source : availableSources)
			keywords.add(source);
	}
	
	if(specificSource != null)
		keywords.add(specificSource.getName());
	
	String defaultTitle = $COMMON.getText("common.FVF.title"); //"FAO Fishing Vessels Finder";
		
	if(sourceDescription != null)
		defaultTitle += $COMMON.getText("common.FVF.title.sourceSpecific", sourceDescription); //" for " + sourceDescription + " vessels";
				
	String defaultDescription = $COMMON.getText("common.FVF.description", defaultTitle);//"The " + defaultTitle + " is an online tool to search and retrieve public information for fishing vessels as reported by ";
			
	if(specificSource == null) {
		defaultDescription += $COMMON.getText("common.FVF.description.sources", CollectionsHelper.join(availableSources, ","));//"a number of international organizations (" + CollectionsHelper.join(availableSources, ", ") + ")";
	} else {
		defaultDescription += sourceDescription;
	}
	
	List<Pair<String, Pair<String, String>>> breadcrumbs = new ArrayList<Pair<String, Pair<String, String>>>();
	breadcrumbs.add(new BasicPair<String, Pair<String, String>>($COMMON.getText("common.header.breadcrumbs.FAO") /*"FAO Home"*/, new BasicPair<String, String>("http://www.fao.org/index_" + languageWithFallback + ".htm", $COMMON.getText("common.header.breadcrumbs.FAO.tip") /*"Go to the FAO homepage"*/)));
	breadcrumbs.add(new BasicPair<String, Pair<String, String>>($COMMON.getText("common.header.breadcrumbs.FI") /*"Fisheries &amp; Aquaculture"*/, new BasicPair<String, String>("http://www.fao.org/fishery/" + languageWithFallback, $COMMON.getText("common.header.breadcrumbs.FI.tip") /*"Go to the FAO Fisheries and Aquaculture department homepage" */)));
	breadcrumbs.add(new BasicPair<String, Pair<String, String>>($COMMON.getText("common.header.breadcrumbs.FVF") /*"Fishing Vessels Finder" */, new BasicPair<String, String>(baseHREF + language, $COMMON.getText("common.header.breadcrumbs.FVF.tip") /*"Go to the global Fishing Vessel Finder homepage"*/)));
	
	if(specificSourceID != null) {
		breadcrumbs.add(new BasicPair<String, Pair<String, String>>($COMMON.getText("common.header.breadcrumbs.FVF.source.specific", specificSourceID) /*specificSourceID + " Vessels"*/, new BasicPair<String, String>(ServletsHelper.localizeURI(baseHREF + specificSourceID, language), $COMMON.getText("common.header.breadcrumbs.FVF.source.specific.tip", specificSourceID) /*"Go to the Fishing Vessel Finder homepage for " + specificSourceID + " Vessels"*/)));
	}
%>