				<div id="creditsContent">
					<div><%=$COMMON.getText("common.credits.data.providers")%></div>
					<div>&#160;</div>
					<div class="centered">
						<ul id="creditsSourcesList" class="clean inline">
						</ul>
					</div>
					<div>&#160;</div>
					<div><%=$COMMON.getText("common.credits.pictures.providers")%></div>
					<div>
						<ul>
							<li><a href="http://www.magrama.gob.es" class="default externalStatic"><b>www.magrama.gob.es</b></a></li>
							<li><a href="http://www.marinetraffic.com/ais/gallery.aspx" class="default externalStatic"><b>www.marinetraffic.com</b></a></li>
							<li><a href="http://www.shipspotting.com/gallery" class="default externalStatic"><b>www.shipspotting.com</b></a></li>
							<li><a href="http://commons.wikimedia.org" class="default externalStatic"><b>commons.wikimedia.org</b></a></li>
							<li><a href="http://myship.com" class="default externalStatic"><b>myship.com</b></a></li>
							<li><a href="http://www.shippingexplorer.net" class="default externalStatic"><b>www.shippingexplorer.net</b></a></li>
							<li><a href="http://www.vesseltracker.com" class="default externalStatic"><b>www.vesseltracker.com</b></a></li>
						</ul>
					</div>
					<div>&#160;</div>
					<div><%=$COMMON.getText("common.credits.tracks.providers")%></div>
					<div>
						<ul>
							<li><b><a href="http://www.marinetraffic.com/ais" class="default externalStatic">www.marinetraffic.com</a></b></li>
							<li><b><a href="http://www.shipspotting.com/ais" class="default externalStatic">www.shipspotting.com</a></b></li>
						</ul>
					</div>
					<div>&#160;</div>
					<div><%=$COMMON.getText("common.credits.copyright.attribution")%></div>
					<div>
						<ul>
							<li><b>Diagona Icons</b> (c) <a href="http://p.yusukekamiyamane.com" class="default externalStatic">Yusuke Kamiyamane</a></li>
							<li><b>Flag Icons</b> (c) <a href="http://www.famfamfam.com/lab/icons/flags" class="default externalStatic">Mark James</a></li>
							<li><b>jQuery UI Icons</b> (c) <a href="http://jqueryui.com" class="default externalStatic">the jQuery UI team</a></li>
							<li><b>jQuery UI Themes</b> (c) <a href="http://jqueryui.com" class="default externalStatic">the jQuery UI team</a></li>
							<li><b>Aristo UI Theme</b> (c) <a href="https://github.com/taitems/Aristo-jQuery-UI-Theme" class="default externalStatic">Tait Brown</a></li>
							<li><b>Delta UI Theme</b> (c) <a href="https://github.com/kiandra/Delta-jQuery-UI-Theme" class="default externalStatic">Tait Brown / Kiandra IT</a></li>
							<li><b>Google Maps API</b> (c) <a href="https://developers.google.com/maps" class="default externalStatic">Google</a></li>
							<li><b>Google Charts API</b> (c) <a href="https://developers.google.com/chart" class="default externalStatic">Google</a></li>
						</ul>
					</div>
					<div>
						<div>
						<%=$COMMON.getText("common.credits.compatibility")%>
						</div>
						<div>
						<%=$COMMON.getText("common.credits.compatibility.advice")%>
						</div>
						<ul>
							<li><a href="http://www.google.com/chrome" class="default externalStatic" title="Download Google Chrome">Google Chrome</a></li> 
							<li><a href="http://www.mozilla.org/firefox" class="default externalStatic" title="Download Mozilla Firefox">Mozilla Firefox</a></li> 
							<li><a href="http://www.apple.com/safari/download" class="default externalStatic" title="Donwload Apple Safari">Apple Safari</a></li>
							<li><a href="http://www.opera.com/download" class="default externalStatic" title="Donwload Opera">Opera</a></li>
							<li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" class="default externalStatic" title="Download Microsoft Internet Explorer">Microsoft Internet Explorer 8 or higher</a></li>
						</ul>
						<%=$COMMON.getText("common.credits.compatibility.advice.screenResolution")%>
					</div>
					<%--
					<div class="right">
						<a class="external" href="http://validator.w3.org/check?uri=referer">
							<img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88"/>
						</a>
					</div>
					--%>
				</div>