/* Classes */
.counter {
	padding-left: .2em;
	font-family: monospace;
	color: green;
}

.clickable {
	cursor: pointer;
	color: blue !important;
	text-decoration: none;
}

.clickable:hover {
	text-decoration: underline;
}

.messageReports {
	font-size: smaller !important;
}

tbody .task span {
	display: block !important;
}

tbody .task span.oldTask {
	display: none !important;
	text-decoration: line-through !important;
}

tbody .task span.newTask {
	color: blue !important;
}

thead tr.sorters th {
	padding-right: .3em;
}

thead tr.sorters th.tableSorterHeaderAsc,
thead tr.sorters th.tableSorterHeaderDesc {
	padding-right: 0 !important;
}


.uid span.overwritten {
	text-decoration: line-through !important; 
}

.hint {
	cursor: help;
}

.hint:hover {
	text-decoration: underline;
}

input.hint:hover,
textarea.hint:hover {
	text-decoration: none;
}


tbody .diffs.hint {
	color: blue !important;
	cursor: pointer !important;
}

.AUTH {
	color: green;
}

.EXP {
	color: #AA0000;
}

.TERM {
	color: #AA0000;
	text-decoration: line-through;
}

.COMMITTED {
	color: navy;
}

.TO_PROCESS {
	color: initial !important;
}

.PROCESSED {
	color: blue !important;
}

.ERROR,
.REJECTED,
.WRONG_DATES,
.DISCARDED,
.TOO_MANY {
	color: red !important;
}

.UNCHANGED {
	color: gray !important;
}

.MULTIPLE,
.NO_DATA {
	color: purple !important;
}

.EXACT,
.NEW_DATA {
	color: blue !important;
}

.PARTIAL {
	color: green !important;
}

.LOW {
	color: yellow !important;
}

.NO_MATCH {
	color: brown !important;
}

.REDUNDANT,
.MIXED_DATES {
	color: magenta !important;
}

li.fileOperation {
	cursor: pointer !important;
	padding-left: 18px !important;
	background-position: left;
	background-repeat: no-repeat; 
}

li.fileOperation a {
	display: block;
}

/* Data table */

table.default  {
	font-size: smaller !important;
}

table.default .process {
	width: 16px !important;
}

table.default th,
table.default td {
	text-align: center;
	vertical-align: middle;
}

table.default th.empty, 
table.default th.empty:hover {
	background-color: #6699FF !important;
	cursor: default !important;
}

table.default td {
	vertical-align: top;
	
	overflow: hidden;
	white-space: nowrap;
}

table.default td.hint {
	cursor: help;
}

table.default td.noWrap {
	white-space: nowrap;
}

table.default td.misplaced {
	background-color: red !important;
	
	background: -moz-linear-gradient(top, #FF0000, #EE0000) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#EE0000)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#EE0000',GradientType=0 );	

	color: white;
}

table.default td.misplaced img {
	color: black !important;
}

#fileContentReport, 
#fileData {
	clear: both;
	
	margin: .5em 0 .5em 0;
}

#fileData, #uploadReport, #processReport {
	width: 100% !important;
	
	float: left;
	clear: both;
	
	padding: .2em;
	margin-bottom: .5em;
}

#fileData {
	padding: .2em;
}

#fileData label {
	padding-right: .5em !important;
	padding-left: 1em;
}

#uploadReport div.label,
#processReport div.label {
	padding-left: 1em;
	margin-right: 1em;
	float: left;
}

#uploadReport div.content,
#processReport div.content {
	text-align: left;
	float: left;
}

#fileContent thead th {
	border-left: 1px solid !important;
}

#fileContent tfoot th {
	border-left: 1px solid !important;
	border-left-color: inherit !important;
}