.ui-progressbar {
	max-height: 16px !important;
	margin-bottom: .2em;
}

fieldset.panel {
	margin-bottom: 1em;
}

fieldset.panel legend {
	padding: .2em .5em !important;
	min-width: 64px;
}

#engine {
	float: left;
	width: 47%;
}

#configuration {
	float: right;
	width: 50%;
}

#runtime {
	clear: left;
}

#process, #runtime, #results {
	float: left;
	width: 30%;
	margin-right: 1em;
}

#matchingEngineStatus img {
	vertical-align: top;
}

#engine > div,
#configuration > div {
	height: 425px;
}

#configuration > div {
	overflow: auto;
}

.jqPlot {
	height: 265px;
}

#completionProgress, #currentCompletionProgress {
	width: 370px;
}

#pollingFrequency {
	margin-top: .3em;
	margin-bottom: 1em;
	margin-left: .3em;
	
	width: 90%;
}

.clear {
	clear: both;
}

label.section {
	clear: both;
	display: inline-block;
	margin-top: .3em;
	margin-bottom: .2em;
	font-size: larger;
}

label.section {
	border-bottom: 1px dotted;
}

label.section:hover {
	border-bottom: 1px solid;
}

li.justified {
	text-align: justify;
}

input.datePicker {
	width: 85px;
}

#minScore, #maxCandidates {
	width: 90%;
	margin-left: .8em;
}

.weightSlider, .minScoreSlider {
	width: 85%;
	margin-left: .8em;
	margin-top: .5em;
	margin-bottom: .8em;
}

.leftColumn {
	width: 50%;
	float: left;
}

.rightColumn {
	width: 50%;
	float: right;
}