#statisticsDataContainer {
}

#statisticsDataContainer h1,
#statisticsDataContainer h2,
#statisticsDataContainer h3 {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 0;
	
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: .4em;
	
	white-space: normal !important;
}

#statisticsDataContainer .controls {
	border-bottom: 1px dotted;
	padding: .5em;
	height: 35px;
	line-height: 35px;
}

.bottomBorderless {
	border-bottom: 0 !important;	
}

.fetching {
	height: 500px;
}

.dataContainer {
	margin-top: 1px;
	margin-right: 1px;
	padding-right: 1px;
	height: 500px;
	overflow: auto;	
}

.panelChooser {
	width: 100%;
	text-align: center;
	padding-bottom: 1px;
	margin-bottom: 1px;
	border-bottom: 1px dotted;
}

.panels {
	height: 450px;
	text-align: center;
	overflow: auto;
}

.overlay .panels {
	height: 440px;
}

.continentSelector {
	padding-left: .5em;
	margin-left: 1px;
}

.tabularDataPager {
	padding-top: 1px;
	width: 798px;
}

.tabularDataPager input {
	width: 32px;
	text-align: center;
	padding-left: 0 !important;
}

.tabularDataPager select {
	width: 64px;
}

.tabularDataPagerWrapper {
	margin-left: 27%;	
}

.dataTable {
	border-collapse: collapse;
	width: 800px;
}

.dataTable thead th.country,
.dataTable tbody td.country {
	width: 128px;	
}

.dataTable tbody td.country div {
	width: 128px;
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;	
}

.dataTable thead th,
.dataTable tbody td.sourceSystem {
	text-align: center;
}

.dataTable tbody td,
.dataTable tfoot th {
	text-align: right;
}

.dataTable tbody td.country,
.dataTable tfoot th.country {
	text-align: left;
}

.dataTable th.ui-widget-header {
	cursor: pointer;
}

.dataTable thead th {
	padding-right: 6px;
}

.dataTable thead th.asc,
.dataTable thead th.desc {
	padding-right: 0;
}