.inputContainer {
	width: 100%;
}

#file, #comment {
	width: 382px;
	margin-left: 0;
}

.inputContainer {
	max-height: 46px;
}

.inputContainer .label,
.inputContainer .input {
	float: left;
}

.inputContainer .label {
	width: 128px;
}

.inputContainer .input {
}

#uploadedFilesList {
	max-height: 217px !important;
	overflow: auto !important;
}

#fileContentTableContainer {
	clear: both !important;
	max-height: 400px !important;
	overflow: auto !important;
	border: 1px dotted;
	margin-bottom: .5em;
}

#messagesDisplay {
	margin-top: 0;
	margin-bottom: 0;
}

#messagesContainer {
	max-height: 256px;
	overflow: auto;
}

#messages {
	padding: 0 !important;
	margin: 0 !important;
}

#messages li {
	display: block;	
	font-size: smaller;
	font-weight: bold;
	clear: both;
}

#messages li.FATAL .messageText {
	text-decoration: underline;
}

#messages li.FATAL, #messages li.ERROR {
	color: red;
}

#messages li.WARNING {
	color: maroon;
}

div.uploadMessageTimestamp {
	clear: left;
}

div.uploadMessageType,
div.uploadMessageTimestamp,
div.uploadMessageRow,
div.uploadMessageText {
	float: left;
	line-height: 1.2em;
	padding-right: .5em;
	
	vertical-align: top;
}

div.uploadMessageType {
	width: 70px !important;
	text-align: right !important;
}

div.uploadMessageRow {
	width: 60px !important;
}

div.uploadMessageText {
	width: 870px;
	text-align: left;
}
  
span.fileName {
	cursor: help !important;
	color: blue !important;
}

#fileName {
	cursor: pointer !important;
}

.fileName a {
	text-decoration: underline !important;
}

li.fileOperation.download {
	background-image: url('../../cdn/media/images/icons/default/blueFloppy.png')
}

li.fileOperation.delete {
	background-image: url('../../cdn/media/images/icons/default/redX.png')
}

li.fileOperation.display {
	background-image: url('../../cdn/media/images/icons/default/magnifier.png')
}

li.fileOperation.manage {
	background-image: url('../../cdn/media/images/icons/default/wheel.png')
}

#files, #fileContent {
	font-size: inherit !important;
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
}

#files tbody tr.UNKNOWN {
	color: purple;
}

#files tbody tr.ACCEPTED {
}

#files tbody tr.REJECTED {
	color: red;
}

#files tbody tr.PROCESSING {
	color: orange;
}

#files tbody tr.PROCESSED {
	color: green;
}

#files tbody tr.NO_DATA {
	color: gray;
}

#files tbody td {
	text-align: right;
}

#files tbody td.status,
#files tbody td.uploadDate,
#files tbody td.uploader,
#files tbody td.sourceSystem,
#files tbody td.totalRows,
#files tbody td.processableRows,
#files tbody td.warnings,
#files tbody td.totalWarnings,
#files tbody td.errors,
#files tbody td.totalErrors {
	text-align: center;
}

#files tbody td.fileName,
#files tbody td.comment {
	text-align: left;
}

#files tbody td.processableRows.notNull {
	background-color: #00AA00;
	color: initial !important;
	
	background: -moz-linear-gradient(top, #00AA00, #009900) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#00AA00), to(#009900)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AA00', endColorstr='#009900',GradientType=0 );		
}

#files tbody td.warnings.notNull,
#files tbody td.totalWarnings.notNull {
	background-color: #FFD700;
	color: initial !important;
	
	background: -moz-linear-gradient(top, #FFD700, #EEC600) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFD700), to(#EEC600)) !important;	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD700', endColorstr='#EEC600',GradientType=0 );
}

#files tbody td.errors.notNull,
#files tbody td.totalErrors.notNull {
	background-color: red;
	color: initial !important;
	
	background: -moz-linear-gradient(top, #FF0000, #EE0000) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#EE0000)) !important;	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#EE0000',GradientType=0 );
}

#files tbody td.status,
#files tbody td.comment {
	white-space: nowrap;
}

#fileContent tbody {
	font-size: smaller;
}

#fileContent .process {
	width: 18px;
}

#fileContent tbody td.row {
	text-align: left;
}

#fileContent .errors,
#fileContent .warnings {
	width: 16px;
}

#fileContent tbody td.errors,
#fileContent tbody td.warnings,
#fileContent tbody td.diffs {
	text-align: right;
}

#fileContent tbody td.row,
#fileContent tbody td.errors,
#fileContent tbody td.warnings,
#fileContent tbody td.TUVI {
	font-family: monospace;
}

#fileContent tbody td.TUVI a {
	text-decoration: underline !important;
}

#fileContent tbody td.selector,
#fileContent tbody td.status,
#fileContent tbody td.task,
#fileContent tbody td.checkStatus,
#fileContent tbody td.source,
#fileContent tbody td.operation {
	text-align: center;
}

#fileContent tbody td.selector input[type='checkbox'] {
	margin: 0 !important;
	padding: 0 !important;
}

#fileContent tbody td.source,
#fileContent tbody td.operation,
#fileContent tbody td.sourceId
{
	font-weight: bold;	
}

#fileContent .name,
#fileContent .previousName {
	max-width: 80px;
	overflow: hidden;
}

#fileContent .sourceId {
	max-width: 64px;
	overflow: hidden;
}

#fileContent tbody .type {
	text-align: center;
}

#fileContent .value {
	width: 32px;
	max-width: 32px;
	overflow: hidden;
}

#fileContent tbody .value {
	text-align: right;
}

#fileContent tbody td.name,
#fileContent tbody td.previousName,
#fileContent tbody td.sourceId {
	white-space: nowrap;
	text-overflow: ellipsis;
}

#fileContent tbody td.reportingDate,
#fileContent tbody td.authFrom,
#fileContent tbody td.authTo,
#fileContent tbody td.flag,
#fileContent tbody td.previousFlag {
	text-align: center;
}

#fileContent tbody td.flag img,
#fileContent tbody td.previousFlag img {
	padding: 0;
	margin: 0;
}

#management {
	clear: both;
	padding: .5em 1em;
}

#management p {
	margin: .5em 0 !important;
}

.arrowUp, .arrowDown {
	display: none;
}

.tableSorterHeaderAsc .arrowUp {
	display: inline;
}

.tableSorterHeaderDesc .arrowDown {
	display: inline;
}

table tr.currentlyProcessed {
	background-color: gold !important;
}

table tr.currentlyReverting,
table tr.currentlyReloading {
	opacity: .7;
}

table tr td.process div {
	background-repeat: no-repeat;
	background-position: center;
}

table tr.idle td.process .idle {
	display: block !important;
}

table tr.removeBackground td.process img {
	display: none;
	max-width: 16px;
	max-height: 16px;
}


table tr.processing td.process .processing img {
	display: block !important;
	background-image: url('../../cdn/media/images/decorations/spinner.gif') !important;	
}

table tr.processed td.process .processed img {
	display: inline;
	zdisplay: block !important;
	zbackground-image: url('../../cdn/media/images/icons/default/greenTick.png') !important;
}

table tr.processWarning td.process .processWarning img {
	display: inline;
	zdisplay: block !important;
	zbackground-image: url('../../cdn/media/images/icons/default/lightBulb.png') !important;
}

table tr.processError td.process .processError img {
	display: inline;
	zdisplay: block !important;
	zbackground-image: url('../../cdn/media/images/icons/default/redX.png');
}