<div class="innerShadowTop ui-corner-top">
</div>
<div class="innerShadowBottom ui-corner-bottom">
</div>
<div class="toolbox ui-widget-header ui-corner-bottom">
	<span class="left ui-helper-clearfix ui-icon ui-icon-circle-plus" title="Expand all nodes" onclick="javascript:expandNodes($(this).parent('.toolbox').parent());"></span> 
	<span class="left ui-helper-clearfix ui-icon ui-icon-circle-minus" title="Collapse all nodes" onclick="javascript:collapseNodes($(this).parent('.toolbox').parent());"></span>
	<span class="left ui-helper-clearfix ui-icon ui-icon-circle-check" title="Toggle all nodes" onclick="javascript:toggleNodes($(this).parent('.toolbox').parent());"></span>
	<span class="left ui-helper-clearfix ui-icon ui-icon-arrowthickstop-1-n" title="Scroll to top" onclick="javascript:$(this).parents('.vesselDetails').scrollTo('0%', 800);"></span>
	<span class="left ui-helper-clearfix ui-icon ui-icon-arrowthickstop-1-s" title="Scroll to bottom" onclick="javascript:$(this).parents('.vesselDetails').scrollTo('100%', 800);"></span>
</div>