<div class="IIDs attribute startCollapsed private userDependent {id: 'Vessel IIDs', displayIf: { can: 'READ_I_DATA'} }">
	<div class="attributeHeading">
		<label>Internal Identifiers: <span class="counter"></span></label>
		<div class="noData">----</div>		
	</div>
	<div class="data hidden"></div>
</div>
<div class="components attribute startCollapsed">
	<div class="attributeHeading">
		<label>Duplicate vessels details: <span class="counter"></span></label>
		<div class="noData">----</div>		
	</div>
	<div class="data hidden"></div>
</div>
<div class="PIDs attribute startCollapsed">
	<div class="attributeHeading">
		<label>Public Identifiers: <span class="counter"></span></label>
		<div class="noData">----</div>		
	</div>	
	<div class="data hidden"></div>
</div>
<div class="names attribute">
	<div class="attributeHeading">
		<label>Names: <span class="counter"></span></label>
		<div class="noData">----</div>		
	</div>
	<div class="data hidden"></div>
</div>
<div class="previousNames attribute">
	<div class="attributeHeading">
		<label class="previous">Previous name(s): <span class="counter"></span></label>
		<div class="noData">----</div>		
	</div>
	<div class="data hidden"></div>
</div>
<div class="externalMarkings attribute">
	<div class="attributeHeading">
		<label>External markings: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>
<div class="flags attribute">
	<div class="attributeHeading">
		<label>Flags: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>	

<div class="previousFlags attribute">
	<div class="attributeHeading">
		<label class="previous">Previous flag(s): <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>	

<div class="shipbuilders attribute">
	<div class="attributeHeading">
		<label>Shipbuilders: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>
<div class="statuses attribute">
	<div class="attributeHeading">
		<label>Statuses: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>
<div class="buildingYears attribute">
	<div class="attributeHeading">
		<label>Building years: <span class="counter"></span></label>
		<div class="noData">----</div>		
	</div>
	<div class="data hidden"></div>	
</div>
<div class="vesselTypes attribute">
	<div class="attributeHeading">
		<label>Types: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>
<div class="vesselGears attribute">
	<div class="attributeHeading">
		<label>Gears: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>
<div class="callsigns attribute">
	<div class="attributeHeading">
		<label>Callsigns: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>
<div class="MMSIs attribute">
	<div class="attributeHeading">
		<label>MMSIs: <span class="counter"></span></label>
		<div class="noData">----</div>		
	</div>
	<div class="data hidden"></div>	
</div>
<div class="registrations attribute">
	<div class="attributeHeading">
		<label>Registrations: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>
<div class="fishingLicenses attribute">
	<div class="attributeHeading">
		<label>Fishing licenses: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>
	<div class="data hidden"></div>	
</div>
<div class="physicalDimensions attribute">
	<div class="attributeHeading">
		<label>Physical dimensions: <span class="counter"></span></label>
		<div class="noData">----</div>		
	</div>
	<div class="data hidden"></div>	
</div>
<div class="tonnages attribute">
	<div class="attributeHeading">
		<label>Tonnages: <span class="counter"></span></label>
		<div class="noData">----</div>	
	</div>
	<div class="data hidden"></div>	
</div>
<div class="engines attribute">
	<div class="attributeHeading">
		<label>Engines: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>	
	<div class="data hidden"></div>	
</div>
<div class="crew attribute">
	<div class="attributeHeading">
		<label>Crew: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>	
	<div class="data hidden"></div>	
</div>
<div class="owners attribute">
	<div class="attributeHeading">
		<label>Owners: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>	
	<div class="data hidden"></div>	
</div>
<div class="operators attribute">
	<div class="attributeHeading">
		<label>Operators: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>	
	<div class="data hidden"></div>	
</div>
<div class="authorizations attribute">
	<div class="attributeHeading">
		<label>Authorizations: <span class="counter"></span></label>
		<div class="noData">----</div>
	</div>	
	<div class="data hidden"></div>	
</div>