.hidden, .ajaxWait, .displayOnHover {
	display: none;
}

:hover > .displayOnHover {
	display: inline;
}

.dontDisplayOnHover {
	display: inline;
}

:hover > .dontDisplayOnHover {
	display: none;
}

.hint {
	cursor: help;	
}

/*
code.hint:hover,
label.hint:hover,
span.hint:hover {
	border-top-width: 1px;
	border-bottom-width: 1px;	
	border-top-style: dotted;
	border-bottom-style: dotted;
}

span.ui-icon.hint:hover {
	border-top-width: 0;
	border-bottom-width: 0;
	border-top-style: initial;
	border-bottom-style: initial;
}

*/

input[type='button'].hint,
input[type='submit'].hint,
input[type='reset'].hint,
button.hint,
a.hint,
.ui-button.ui-state-default,
.ui-button-text.hint {
	cursor: pointer !important;
}

input[type='button'].hint.ui-state-disabled,
input[type='submit'].hint.ui-state-disabled,
input[type='reset'].hint.ui-state-disabled,
button.hint.ui-state-disabled,
.ui-button.ui-state-default.ui-state-disabled {
	cursor: help !important;
}

.noShadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.autosized {
	width: auto !important;
}

.centered {
	text-align: center;
}

.hAlignLeft {
	text-align: left;
}

.rtl .hAlignLeft {
    text-align: right;
}

.hAlignRight {
	text-align: right;
}

.rtl .hAlignRight {
	text-align: left;
}

.noWrap {
	white-space: nowrap;
}

.smartDisplay {
	display: block;

	font-size: x-small;
}

.ltr .smartDisplay {
    text-align: right;
	padding-right: 2em;
}

.rtl .smartDisplay {
    text-align: left;
	padding-left: 2em;
}

.fixedFont {
	font-family: monospace;
}

.mediumFont {
	font-size: medium;
}

.smallFont {
	font-size: small;
}

.xSmallFont {
	font-size: x-small;
}

.uppercase {
	text-transform: uppercase;
}

.ltr .right {
	float: right !important;
}

.rtl .right {
    float: left !important;
}

.ltr .left {
	float: left !important;
}

.rtl .left {
	float: right !important;
}

.leftPad {
	padding-left: .2em;
}

.rtl .leftPad {
    padding-right: .2em;
}

.moreLeftPad {
	padding-left: 1em;
}

.rtl .moreLeftPad {
	padding-right: 1em;
}

.rightPad {
	padding-right: .5em;
}

.rtl .rightPad {
	padding-left: .5em;
}

.moreRightPad {
	padding-right: 1em;
}

.rtl .moreRightPad {
	padding-left: 1em;
}

.removeBackground {
	background-image: none !important;
}

.bordered {
	border-width: 1px !important;
	border-style: solid;
	border-color: inherit;
}

.borderless {
	border: 0 !important;
}

.bordered li:last-child {
	border-bottom-width: 0 !important;
}

.topBorderless {
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	border-right-width: 1px !important;
}

.forceTopBorder {
	border-top-width: 1px !important;
}

.bottomBorderless {
	border-top-width: 1px !important;
	border-left-width: 1px !important;
	border-right-width: 1px !important;
}

.forceBottomBorder {
	border-bottom-width: 1px !important;
}

.bottomBordered {
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	border-bottom-color: initial !important;
}

.topBordered {
	border-top-width: 1px !important;
	border-top-style: solid !important;
	border-top-color: initial !important;
}

.uCase, 
.uCase * {
	text-transform: uppercase;
}

.lCase,
.lCase * {
	text-transform: lowercase;
}

.smallCaps,
.smallCaps * {
	font-variant: small-caps;
}

.widthMin16 {
	min-width: 16px;
}

.widthMin20 {
	min-width: 20px;
}

.widthMin24 {
	min-width: 24px;
}

.widthMin32 {
	min-width: 32px;
}

.widthMin40 {
	min-width: 40px;
}

.widthMin45 {
	min-width: 45px;
}

.widthMin50 {
	min-width: 50px;
}

.widthMin60 {
	min-width: 60px;
}

.widthMin64 {
	min-width: 64px;
}

.widthMin70 {
	min-width: 70px;
}

.widthMin75 {
	min-width: 75px;
}

.widthMin80 {
	min-width: 80px;
}

.widthMin85 {
	min-width: 85px;
}

.widthMin90 {
	min-width: 90px;
}

.widthMin95 {
	min-width: 95px;
}

.widthMin100 {
	min-width: 100px;
}

.widthMin125 {
	min-width: 125px;
}

.widthMin150 {
	min-width: 150px;
}

.expandable, .collapsible {
	background-repeat: no-repeat;

	color: blue;

	cursor: pointer;
}

.ltr .expandable, .ltr .collapsible {
	background-position: right;

	padding-right: 15px;
}

.rtl .expandable, .rtl .collapsible {
	background-position: left;

	padding-left: 15px;
}

.expandable:hover, .collapsible:hover {
} 

.expandable {
	background-image: url('../../media/images/icons/default/small/expandable.png');
}

.collapsible {
	background-image: url('../../media/images/icons/default/small/collapsible.png');
}

.spinner {
	display: inline-block;
	width: 24px;
	background-image: url('../../media/images/decorations/spinner_light_bg.gif');
	background-repeat: no-repeat;
}

.ltr .spinner {
   	background-position: left;
}

.rtl .spinner {
   	background-position: right;
}

.lightTheme .spinner {
	background-image: url('../../media/images/decorations/spinner_light_bg.gif') !important; 
}

.darkTheme .spinner {
	background-image: url('../../media/images/decorations/spinner_dark_bg.gif') !important;
}

.category {
	color: green;
}

.tooltip {
	display: none;
}

.tooltipImage {
	vertical-align: text-top;
	z-index: -1000;
	opacity: .7;
	filter: alpha(opacity=70);

	cursor: help;
}

.tooltipImage:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.submenu h1,
.submenu h2,
.submenu h3 {
	margin-top: 0 !important;
}

.displayOnMap {
	cursor: pointer !important;
	background-image: url('../../base/media/icons/small/globe.png');
}

.mapWrapperSmall {
	min-height: 209px;

	overflow: auto;

	font-size: smaller;
}

.mapWrapperSmall.multipleMaps {
	height: 209px !important;
}

.mapWrapperSmall.multipleMaps > div {
	padding-right: 2em;
}

.rtl .mapWrapperSmall.multipleMaps > div {
	padding-left: 2em;
}

.mapContainerSmall {
	min-width: 200px; 
	min-height: 150px;

	margin: 0; 
	padding: 0; 

	border: 1px dotted;
}

.description {
	cursor: help;

	background-image: url('../../media/images/icons/default/small/description.png');
	background-repeat: no-repeat;

	color: green;
}

.ltr .description {
	margin-right: .4em;
	padding-right: .8em;
	background-position: right;
}

.rtl .description {
	margin-left: .4em;
	padding-left: 1em;
	background-position: left;
}

.even, .odd {
	border-bottom: 1px dotted;
}

.even {
	background-color: #EEEEEE;
}

.odd {
	background-color: #DDDDDD;
}

.dimmed {
	opacity: .5;
	filter: alpha(opacity=50); 
}

.faint {
	opacity: .2; 
	filter: alpha(opacity=20);
}

.ltr .autocomplete_mapped_data {
	padding-left: 1em;
}

.rtl .autocomplete_mapped_data {
	padding-right: 1em;
}

.autocompletionContainer {
	white-space: pre;
}

.ltr .autocompletionContainer {
	padding-right: 1.5em;
}

.rtl .autocompletionContainer {
	padding-left: 1.5em;
}

.ltr .autocompletionContainer dl dt {
	padding-left: 1.5em;
	clear: right;
}

.rtl .autocompletionContainer dl dt {
	padding-right: 1.5em;
	clear: left;
}

.managedSource {
	height: 19px;
}

.managedSource .sourceIcon {
	vertical-align: middle;
	height: 16px;
}

img.trackPositionCheck {
	vertical-align: -3px;
}

.percentageIndicatorContainer {
	display: inline-block;
	width: 32px;
	height: 1.1em;
	line-height: 1.2em;
	border: 1px solid;
	background-color: silver;
	cursor: help;
}

.ltr .percentageIndicatorContainer {
	float: left;
	margin-left: 0;
	padding-left: 0;
}

.rtl .percentageIndicatorContainer {
	float: right;
	margin-right: 0;
	padding-right: 0;
}

.percentageIndicator {
	background-color: gray;
	height: 100%;
	line-height: 1em;
}

.percentageText {
	padding: .2em; 
	font-size: .8em;
}

.percentageIndicatorContainer:hover {
	background-color: #7777EE;
}

.percentageIndicatorContainer:hover .percentageIndicator {
	background-color: blue;
}

.percentageIndicatorContainer:hover .percentageText {
	color: white;
}

.autocompletionContainer .meta {
	font-size: 1em;
}

.error, input.error {
	border: 1px solid red;
}

code.ajaxError {
    display: inline-block;
    
    margin-top: 1em;
    
    width: 100%;
    max-width: 100%;
    
    white-space: nowrap;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.logMessage {
	border: 0;
}

.ltr .logMessage {
	clear: right;
}

.rtl .logMessage {
	clear: left;
}

.logMessage.error {
	color: red;
}

.logMessage.warn {
	color: orange;
}

.logMessage.info {
	color: aqua;
}

.logMessage.debug {
	color: lime;
}

.header {
	border: 1px solid;
	background-color: #FFFFCC;

	font-size: small;

	padding: .5em;
}

.logEnabler, .log, .logControls {
	background-color: black;
}

.log {
	color: lime;

	font-family: monospace;

	font-size: .8em;

	overflow: hidden;
}

.logControls {
	padding-top: .2em;
	padding-bottom: .3em;
}

.ltr .logControls {
    padding-left: .5em;
}

.rtl .logControls {
    padding-right: .5em;
}

.log:hover {
	overflow: auto;
}

.logEntriesContainer .logMessage {
	display: block;

	border: 0 !important;
}

.ltr .logEntriesContainer .logMessage {
	clear: right;
}

.rtl .logEntriesContainer .logMessage {
	clear: left;
}

.logMessage.service {
	color: white;
}

.logMessage.error {
	color: red;
}

.logMessage.warn {
	color: orange;
}

.logMessage.info {
	color: aqua;
}

.logMessage.debug {
	color: lime;
}

.logControl {
	border: 1px solid;
	cursor: pointer;
	padding: 0 .5em;
}

.log .currentSeverity {
	text-decoration: underline;
}