body {
	background-color: white !important;
	color: black !important; 
	
	font-family: sans-serif !important;
	font-size: 12px !important;
	
	min-width: 1200px;
}

body > * {
	padding: 0;
	margin: 0; 	
}

*:focus { 
	outline: none !important; 
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none !important;
}

label, .label {
	font-weight: bold;
}

label.description {
	color: inherit;
}

input[type='text'], input[type='password'] {
	font-family: monospace;
}

.ltr input[type='text'], .ltr input[type='password'] {
	padding-left: .3em;
}

.rtl input[type='text'], .rtl input[type='password'] {
	padding-right: .3em;
}

input[type='text'], input[type='password'], select {
	border: 1px solid;
}

input[type='text'].selected {
	border-color: blue;
	color: blue;
}

input[readonly="readonly"] {
	opacity: .5;	
	filter: alpha(opacity=50);
}

input[type='checkbox'] {
	padding: 0;
	margin: 0;
	
	/*
	margin-right: .5em;
	
	vertical-align: baseline;
	*/
	position: relative;
	top: 2px;
}

.ltr input[type='checkbox'] {
	margin-right: .5em;
}

.rtl input[type='checkbox'] {
	margin-left: .5em;
}

input[type='text'].autocomplete {
	background-image: url('../../media/images/icons/default/small/darkStar.png');
    background-repeat: no-repeat;
}

.ltr input[type='text'].autocomplete {
	padding-right: 16px;
    background-position: right;
}

.rtl input[type='text'].autocomplete {
	padding-left: 16px;
    background-position: left;
}

button.buttonLink, button.image { 
	background: none;
	
	font-family: inherit !important;
	
	padding: 0;
	margin: 0;
	
	border: 0;
	
	cursor: pointer;
}

select {
	width: 192px;
	max-width: 192px !important;
}

optgroup {
	font-family: sans-serif;
    font-size: inherit !important;
    font-style: normal !important;
}

.ltr opgroup {
    padding-left: 0.2em;
}

.rtl opgroup {
    padding-right: 0.2em;
}

optgroup.main, option.main {
	background-color: #FFFFCC;
}

optgroup.other, option.other {
	background-color: #EEEEEE;
}

optgroup.flags > option:FIRST-CHILD {
	border-top: 1px dotted;
}

option.any {
	font-weight: bold;
	font-style: italic;
}

fieldset {
	border: 1px solid;
	
	padding-bottom: .5em;
}

.ltr fieldset {
    padding-left: .5em;
}

.rtl fieldset {
    padding-right: .5em;
}

fieldset fieldset {
	margin: 0;
}

fieldset.active {
	background-color: #EEEEEE;
}

fieldset.hideContent .fieldsetContainer {
	display: none;
}

legend {
	font-size: medium;
	font-weight: bold;
}

.ltr legend {
    margin-left: 0 !important;
}

.rtl legend {
    margin-right: 0 !important;
}

legend.toggleable {
	color: blue;
}

legend.toggleable:hover {
	text-decoration: underline;
	cursor: pointer;
}

fieldset fieldset legend {
	font-size: small; 
}

fieldset fieldset legend .tooltipImage {
	font-size: small;
	
	width: 1em;
	vertical-align: middle;
	margin-bottom: 3px;
}

a.default,
.removeUI a.textLink, 
.removeUI button.buttonLink {
	color: blue;	
	text-decoration: none;
	border-bottom: 1px dotted !important;
}

a.default:hover,
.removeUI a.textLink:hover, 
.removeUI button.buttonLink:hover {
	border-bottom: 1px solid !important;
}

a.default {
	color: inherit !important;
}

a.clean {
	border-bottom: 0 !important;
}

a.clean:hover {
	text-decoration: underline !important;
}

a.simplest, a.simplest:hover {
	border-bottom: 0 !important;
	text-decoration: none !important;
}

a.imageLink, button.imageLink, img.link {
	opacity: .7;
	filter: alpha(opacity=70);
}

a.imageLink:hover, button.imageLink:hover, img.link:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

a.imageLink, 
a.imageLink:hover, 
button.imageLink,
button.imageLink:hover {
	border-bottom: 0;
	min-width: 12px;
	max-width: 18px;
}

a.external, a.externalStatic {
	border-bottom: 0;
}

.ltr a.external, .ltr a.externalStatic {
	padding-right: 14px;
}

.rtl a.external, .rtl a.externalStatic {
	padding-left: 14px;
}

.ltr a.external.pre, .ltr a.externalStatic.pre {
	padding-right: 0 !important;
	padding-left: 14px !important;
}

.rtl a.external.pre, .rtl a.externalStatic.pre {
	padding-left: 0 !important;
	padding-right: 14px !important;
}

.removeUI a.static,
a.static, 
.removeUI a.static:hover,
a.static:hover {
	border-bottom: 0 !important;
}

a.external:hover, a.externalStatic {
	background-image: url("../../media/images/icons/default/small/externalLink.png");
	background-repeat: no-repeat;
}

.ltr a.external:hover, 
.ltr a.externalStatic {
	background-position: right;	
}

.rtl a.external:hover, 
.rtl a.externalStatic {
	background-position: left;	
}

.ltr a.external.pre:hover, .ltr a.externalStatic.pre {
	background-position: left !important;	
}

.rtl a.external.pre:hover, .rtl a.externalStatic.pre {
	background-position: right !important;	
}

a.external, a.externalStatic, a.static {
	border-bottom: 0;	
}

img {
	border: 0;
	padding: 0;
	margin: 0;
	
	text-decoration: none;
	
	vertical-align: middle;
}

img.link {
	margin-bottom: 1px;	
}

img.flag, img.sourceIcon {
	border: 1px solid; 
	width: 16px;
	min-width: 16px;
}

.ltr img.flag, 
.ltr img.sourceIcon {
	margin-right: .5em;	
}

.rtl img.flag, 
.rtl img.sourceIcon {
	margin-left: .5em;	
}

img.flag {
	height: 10px;	
	vertical-align: baseline;
}

img.sourceIcon {
	height: 16px;
	min-height: 16px;
	vertical-align: text-bottom;	
}

ul.inline {
	display: inline;
}

ul.inline li {
	display: inline;
}

ul.undecorated, ul.clean, ul.tabs,
dl.undecorated, dl.clean {
	list-style: none;
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;		
}

.ltr ul.undecorated > li,
.ltr dl.undecorated > li {
	margin-left: 0;
	padding-left: 0;
}

.rtl ul.undecorated > li,
.rtl dl.undecorated > li {
	margin-right: 0;
	padding-right: 0;
}

ul.clean, ul.tabs, dl.clean {
	margin: 0;
	padding: 0;
}

ul.inline li {
	display: inline;
}

li.even:hover, li.even:hover li.even, li.odd:hover li.even {
	background-color: #BBEEBB;
}

li.odd:hover, li.even:hover li.odd, li.odd:hover li.odd {
	background-color: #AADDAA;
}

cite {
	display: none;
}

div.defaultLogEnabler {
	position: fixed;
	
	width: 64px;
	padding: .2em;
	
	text-align: center;
	
	background-color: black;
	color: lime; 
	
	bottom: 0px !important;
	
	cursor: pointer;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	
	-webkit-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, .5);
	box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, .5);
	
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";	
}

.rtl div.defaultLogEnabler {
	right: 16px;
}

div.defaultLogEnabler:hover,
div.defaultLogEnabler:hover + div.defaultLogContainer {
	opacity: 1.0;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	
}

div.defaultLogEnabler.top {	
	bottom: 100px !important;
	opacity: 1.0 !important;
	filter: alpha(opacity=100) !important;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;	
}

div.defaultLogContainer {
	position: fixed;
	
	bottom: 0;
	left: 0;
	
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	
	width: 100%;
	height: 100px;
		
	margin: 0 auto !important;
		
	-webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, .5);
}

div.defaultLogContainer:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	
}

div.defaultLogControls {
	position: fixed;
	bottom: 0px;
	font-size: x-small;
}

.ltr div.defaultLogControls {
	right: 18px;
}

.rtl div.defaultLogControls {
	left: 18px;
}