#glasspane {
	background-color: black;
	opacity: .2;
	filter: alpha(opacity=20);
	
	z-index: 1000000;
	
	position: absolute;
		
	margin: 0pt; 
	padding: 0pt;  
	
	overflow: hidden;
	
	top: 0pt; 
	left: 0pt;
	
	cursor: wait;
	
	padding: 1.5em;
	padding-bottom: 0;
}

#disclaimer {
	width: 100%;
	height: 1.5em;
		
	position: fixed;
		
	bottom: 0;	
	margin-top: 1em;
	
	border-top: 1px dotted;

	background-color: white;
	
	z-index: 666;
	
	text-align: center;	
	font-size: x-small;	
}