.displaySourceLogos .attributeMeta .sourceSystem {
	display: inline-block;
	height: 18px !important;
	background-position: right;
	background-repeat: no-repeat;	
}

.ltr .displaySourceLogos .attributeMeta .sourceSystem {
	padding-right: 18px;
}

.rtl .displaySourceLogos .attributeMeta .sourceSystem {
	padding-left: 18px;
}

.ltr .displaySourceLogos .attributeMeta .sourceSystem.WCPFC,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.SICA,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.LLOYD,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.ISSF,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.SPRFMO,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.CTMFM,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.FFA,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.CCAMLR,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.ADFG,
.ltr .displaySourceLogos .attributeMeta .sourceSystem.TCGC {
	padding-right: 32px;
}

.rtl .displaySourceLogos .attributeMeta .sourceSystem.WCPFC,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.SICA,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.LLOYD,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.ISSF,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.SPRFMO,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.CTMFM,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.FFA,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.CCAMLR,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.ADFG,
.rtl .displaySourceLogos .attributeMeta .sourceSystem.TCGC {
	padding-left: 32px;
}

.ltr .displaySourceLogos .attributeMeta .sourceSystem.IATTC {
	padding-right: 26px;
}

.rtl .displaySourceLogos .attributeMeta .sourceSystem.IATTC {
	padding-left: 26px;
}

.ltr .displaySourceLogos .attributeMeta .sourceSystem.ICCAT {
	padding-right: 22px;
}

.rtl .displaySourceLogos .attributeMeta .sourceSystem.ICCAT {
	padding-left: 22px;
}

.displaySourceLogos .sourceSystem.FAO,
.displaySourceLogos .sourceSystem.VRMF {
	background-image: url('../../media/images/decorations/sources/logo/small/FAO.png');
}

.displaySourceLogos .sourceSystem.HSVAR {
	background-image: url('../../media/images/decorations/sources/logo/small/HSVAR.png');
} 

.displaySourceLogos .sourceSystem.CLAV {
	background-image: url('../../media/images/decorations/sources/logo/small/CLAV.png');
}

.displaySourceLogos .sourceSystem.CCSBT {
	background-image: url('../../media/images/decorations/sources/logo/small/CCSBT.png');
}

.displaySourceLogos .sourceSystem.IATTC {
	background-image: url('../../media/images/decorations/sources/logo/small/IATTC.png');
}

.displaySourceLogos .sourceSystem.ICCAT {
	background-image: url('../../media/images/decorations/sources/logo/small/ICCAT.png');
}

.displaySourceLogos .sourceSystem.IOTC {	
	background-image: url('../../media/images/decorations/sources/logo/small/IOTC.png');
}

.displaySourceLogos .sourceSystem.UNGA61 {
	background-image: url('../../media/images/decorations/sources/logo/small/UNGA61.png');
}

.displaySourceLogos .sourceSystem.GFCM {
	background-image: url('../../media/images/decorations/sources/logo/small/GFCM.png');
}

.displaySourceLogos .sourceSystem.WCPFC {	
	background-image: url('../../media/images/decorations/sources/logo/small/WCPFC.png');
}

.displaySourceLogos .sourceSystem.SICA {	
	background-image: url('../../media/images/decorations/sources/logo/small/SICA.png');
}

.displaySourceLogos .sourceSystem.CTMFM {	
	background-image: url('../../media/images/decorations/sources/logo/small/CTMFM.png');
}

.displaySourceLogos .sourceSystem.LLOYD {	
	background-image: url('../../media/images/decorations/sources/logo/small/LLOYD.png');
}

.displaySourceLogos .sourceSystem.ISSF {	
	background-image: url('../../media/images/decorations/sources/logo/small/ISSF.png');
}

.displaySourceLogos .sourceSystem.SPRFMO {	
	background-image: url('../../media/images/decorations/sources/logo/small/SPRFMO.png');
}

.displaySourceLogos .sourceSystem.FFA {	
	background-image: url('../../media/images/decorations/sources/logo/small/FFA.png');
}

.displaySourceLogos .sourceSystem.CCAMLR {	
	background-image: url('../../media/images/decorations/sources/logo/small/CCAMLR.png');
}

.displaySourceLogos .sourceSystem.ADFG {	
	background-image: url('../../media/images/decorations/sources/logo/small/ADFG.png');
}

.displaySourceLogos .sourceSystem.TCGC {	
	background-image: url('../../media/images/decorations/sources/logo/small/TCGC.png');
}

option.VRMF, .colorizeBySource .attributeContainer.VRMF {
	background-color: #FFFFFF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));
	background: -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#DDDDDD',GradientType=0 ) !important;
}

option.CLAV, .colorizeBySource .attributeContainer.CLAV {
	background-color: #EEEEAA !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFCC), to(#EEEEBB));
	background: -moz-linear-gradient(top, #FFFFCC, #EEEEBB);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFCC', endColorstr='#EEEEBB',GradientType=0 ) !important;
}

option.HSVAR, .colorizeBySource .attributeContainer.HSVAR {
	background-color: #DDEEFF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#DDEEFF), to(#CCDDEE));
	background: -moz-linear-gradient(top, #DDEEFF, #CCDDEE);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDEEFF', endColorstr='#CCDDEE',GradientType=0 ) !important;
}

option.UNGA61, .colorizeBySource .attributeContainer.UNGA61 {
	background-color: #EEEEBB !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEBB), to(#DDDDAA));
	background: -moz-linear-gradient(top, #EEEEBB, #DDDDAA);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEBB', endColorstr='#DDDDAA',GradientType=0 ) !important;	
}

option.EU, .colorizeBySource .attributeContainer.EU {
	background-color: #EEEEFF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEFF), to(#DDDDEE));
	background: -moz-linear-gradient(top, #EEEEFF, #DDDDEE);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEFF', endColorstr='#DDDDEE',GradientType=0 ) !important;
}

option.LLOYD, .colorizeBySource .attributeContainer.LLOYD {
	background-color: #FFEEFF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#FFEEFF), to(#EEDDEE));
	background: -moz-linear-gradient(top, #FFEEFF, #EEDDEE);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEEFF', endColorstr='#EEDDEE',GradientType=0 ) !important;
}

option.CCSBT, .colorizeBySource .attributeContainer.CCSBT {
	background-color: #BBDDFF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#BBDDFF), to(#AACCEE));
	background: -moz-linear-gradient(top, #BBDDFF, #AACCEE);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BBDDFF', endColorstr='#AACCEE',GradientType=0 ) !important;
}

option.IATTC, .colorizeBySource .attributeContainer.IATTC {
	background-color: #FFDDAA !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#FFDDAA), to(#EECC99));
	background: -moz-linear-gradient(top, #FFDDAA, #EECC99);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDDAA', endColorstr='#EECC99',GradientType=0 ) !important;	
}

option.ICCAT, .colorizeBySource .attributeContainer.ICCAT {
	background-color: #EEFFFF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#EEFFFF), to(#DDEEEE));
	background: -moz-linear-gradient(top, #EEFFFF, #DDEEEE);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEFFFF', endColorstr='#DDEEEE',GradientType=0 ) !important;
}

option.IOTC, .colorizeBySource .attributeContainer.IOTC {
	background-color: #CCFFDD !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#CCFFDD), to(#BBEECC));
	background: -moz-linear-gradient(top, #CCFFDD, #BBEECC);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCFFDD', endColorstr='#BBEECC',GradientType=0 ) !important;	
}

option.WCPFC, .colorizeBySource .attributeContainer.WCPFC {
	background-color: #FFCCFF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCCFF), to(#EEBBEE));
	background: -moz-linear-gradient(top, #FFCCFF, #EEBBEE);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCCFF', endColorstr='#EEBBEE',GradientType=0 ) !important;		
}

option.SICA, .colorizeBySource .attributeContainer.SICA {
	background-color: #9DCD44 !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#9DCD44), to(#376700));
	background: -moz-linear-gradient(top, #9DCD44, #376700);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9DCD44', endColorstr='#376700',GradientType=0 ) !important;		
}

option.ISSF, .colorizeBySource .attributeContainer.ISSF {
	background-color: #5F97DF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#5F97DF), to(#44648B));
	background: -moz-linear-gradient(top, #5F97DF, #44648B);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5F97DF', endColorstr='#44648B',GradientType=0 ) !important;
}

option.SPRFMO, .colorizeBySource .attributeContainer.SPRFMO {
	background-color: #00FFFF !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#00FFFF), to(#00DDDD));
	background: -moz-linear-gradient(top, #00FFFF, #00DDDD);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFF', endColorstr='#00DDDD',GradientType=0 ) !important;		
}

option.GFCM, .colorizeBySource .attributeContainer.GFCM {
	background-color: #FFF000 !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF000), to(#DDD000));
	background: -moz-linear-gradient(top, #FFF000, #DDD000);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF000', endColorstr='#DDD000',GradientType=0 ) !important;		
}

option.CTMFM, .colorizeBySource .attributeContainer.CTMFM {
	background-color: #A4E2F7 !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#A4E2F7), to(#82C0D5));
	background: -moz-linear-gradient(top, #A4E2F7, #82C0D5);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A4E2F7', endColorstr='#82C0D5',GradientType=0 ) !important;		
}

option.FFA, .colorizeBySource .attributeContainer.FFA {
	background-color: #008FC1 !important;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#008FC1), to(#0C75AC));
	background: -moz-linear-gradient(top, #008FC1, #0C75AC);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008FC1', endColorstr='#0C75AC',GradientType=0 ) !important;		
}

option.CCAMLR, .colorizeBySource .attributeContainer.CCAMLR {
	background-color: #565656 !important; 
	
	background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#383838));
	background: -moz-linear-gradient(top, #565656, #383838);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#383838',GradientType=0 ) !important;		
}

option.ADFG, .colorizeBySource .attributeContainer.ADFG {
	background-color: #0F446E !important; 
	
	background: -webkit-gradient(linear, left top, left bottom, from(#0F446E), to(#0D224C));
	background: -moz-linear-gradient(top, #0F446E, #0D224C);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F446E', endColorstr='#0D224C',GradientType=0 ) !important;			
}

option.TCGC, .colorizeBySource .attributeContainer.TCGC {
	background-color: #CC0000 !important; 
	
	background: -webkit-gradient(linear, left top, left bottom, from(#CC0000), to(#AA0000));
	background: -moz-linear-gradient(top, #CC0000, #AA0000);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC0000', endColorstr='#AA0000',GradientType=0 ) !important;			
}

/* OVERRIDDEN DEFAULT COLORS FOR 'DARK' SOURCES */
option.CCAMLR, .colorizeBySource .attributeContainer.CCAMLR,
option.FFA, .colorizeBySource .attributeContainer.FFA,
option.ISSF, .colorizeBySource .attributeContainer.ISSF,
option.ADFG, .colorizeBySource .attributeContainer.ADFG, 
option.TCGC, .colorizeBySource .attributeContainer.TCGC {
	color: white;
	border-color: black;
}

.colorizeBySource .attributeContainer.SICA .timelineCategory,
.colorizeBySource .attributeContainer.CCAMLR .description,
.colorizeBySource .attributeContainer.CCAMLR .timelineCategory,
.colorizeBySource .attributeContainer.FFA a.textLink,
.colorizeBySource .attributeContainer.FFA .description,
.colorizeBySource .attributeContainer.FFA .timelineCategory,
.colorizeBySource .attributeContainer.ISSF a.textLink,
.colorizeBySource .attributeContainer.ISSF .description,
.colorizeBySource .attributeContainer.ISSF .timelineCategory,
.colorizeBySource .attributeContainer.ADFG a.textLink,
.colorizeBySource .attributeContainer.ADFG .description,
.colorizeBySource .attributeContainer.ADFG .timelineCategory,
.colorizeBySource .attributeContainer.TCGC a.textLink,
.colorizeBySource .attributeContainer.TCGC .description,
.colorizeBySource .attributeContainer.TCGC .timelineCategory {
	color: white;
}

.colorizeBySource .attributeContainer.CCAMLR a.textLink,
.colorizeBySource .attributeContainer.FFA a.textLink,
.colorizeBySource .attributeContainer.ISSF a.textLink,
.colorizeBySource .attributeContainer.ADFG a.textLink {
	color: lime;
}